#set($staticPath="$request.contextPath/assets")
#if($!userType == "seller")
#set($layout = "/seller_layout.vm")
#else
#set($layout = "/buyer_layout.vm")
#end

<link href="$staticPath/css/register.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="$request.getContextPath()/assets/js/passwordStrength.js"></script>
<script type="text/javascript">
	$(function(){
		if("$!userType" == "seller"){
			$("#leftSeller").load("$request.contextPath/leftSeller");
		} else {
			$("#leftBuyer").load("$request.contextPath/leftBuyer");
		}
	});
</script>
<div id="main">
<!--中间部分开始-->

<!-- left start -->
#if($!userType == "seller")
<div id="leftSeller" class="border-4"></div>
#else
<div id="leftBuyer" style="width: 198px; float: left;"></div>
#end

<!-- left end -->

<!--右边部分开始-->
<div id="right">
	#if($!userType == "seller")
		<h3>卖家安全信息管理>安全信息设置>支付密码找回</h3>
	#else
		<h3>买家安全信息管理>安全信息设置>支付密码找回</h3>
	#end
<form method="post" action="$request.contextPath/security/editpaypwd" id="userVerifyForm">
   <div class="Info border-4 register_content">
        <input type="hidden" name="uid" value="$!userinfo.uid" />
        <input type="hidden" name="backUrl" value="$!backUrl" />
        <input type="hidden" name="userType" value="$!userType" />
	<div class="register_box_mid" style="margin-top:40px">
	       <!--如需增加可循环dl开始-->
	   	<dl>
	           <dt>请选择验证身份方式：</dt>
	           <dd style="border:none">
	           <!--第一个下拉选 -->
	               <select name="" id="select_contact_id" class="input_Style1 wid_200">
	               <option value="1"> 邮箱 </option>
	               <option value="2"> 手机 </option>
	              </select>
	           </dd>
	       </dl>
	       <dl>
	           <dt>已验证手机/邮箱：</dt>
	           <dd id="contact_id" style="border:none">13732456754</dd>
	       </dl>
	       <dl>
	           <dt>请填写手机/邮箱校验码：</dt>
	           <dd style="border:none">
	           		<input name="captcha" type="text" id="captcha_id" class="input_Style1" style="width: 80px" maxlength="10" />
                    <button id="captcha_send" class="button_4" style="color: #747474; vertical-align: middle;height: 38px; line-height: 38px;" type="button" >发送验证码</button>
                    <span id="captcha_span" style="color: red; margin-left: 10px;"></span>
                    <input type="hidden" id="code_key" name="codeKey">
                    <input type="hidden" id='checked' name="checked">
	           	</dd>
	       </dl>
	           <div class="clear"></div>
	           <span id="captcha_span" style="margin-left: 155px;"></span>
	           <div id="submit_id" class="button_1 hei_40 font_16" style="width: 280px;">提 交</div>
	   </div><!--register_box-->
    </div><!--register_content-->
</form>
</div> <!--id="right" end--> 
<!--右边部分结束-->
</div><!--#main end -->

<script type="text/javascript">

	$(function(){
		var mobile = "$!userinfo.userMobile";
		$("#contact_id").html(mobile);
		$("#select_contact_id").val(2);
		if(mobile == ''){
 			var eamil = "$!userinfo.userEmail";
			$("#contact_id").html(eamil);
			$("#select_contact_id").val(1);
		}
	});
	
	$("#select_contact_id").change(function(){
		var val = $("#select_contact_id").val();
		var mobileOrEamil;
		if(val == 2){
			mobileOrEamil = "$!userinfo.userMobile";
			if(mobileOrEamil == ''){
				mobileOrEamil = "您未绑定手机";
			}
		} else {
			mobileOrEamil = "$!userinfo.userEmail";
			if(mobileOrEamil == ''){
				mobileOrEamil = "您未绑定邮箱";
			}
		}
		$("#contact_id").html(mobileOrEamil);
	});
	var smsType = '';
	$("#captcha_send").click(function(){
// 		alert($("#captcha_send").html() != "发送验证码");
		if($("#captcha_send").html() != "发送验证码"){
			return;
		}
		var contact = $("#contact_id").html();
		if(contact == "您未绑定手机"){
			$("#captcha_span").html("您未绑定手机");
			return;
		} else if(contact == "您未绑定邮箱"){
			$("#captcha_span").html("您未绑定邮箱");
			return;
		}
		var val = $("#select_contact_id").val();
		if(val != 1 && val != 2){
			$("#captcha_span").html("请选择验证身份的方式");
			return;
		}
		
		if(val == 1){
			smsType = "EMAIL_UP_PAY_PWD";	
		}else if(val == 2){
			smsType = "UPPAYPWD";	
		}
	$("#captcha_send").html("请稍等···");
	$("#captcha_send").attr("disabled", "disabled");
	var data = {contact:contact, type:val, smsType:smsType};
	$("#captcha_send").html("重新发送(<span id='span_time'>90</span>)");
	//将手机和邮箱切换按钮禁用
	$("#select_contact_id").attr("disabled",true);
	sand_timer();
	$.ajax({
		timeout:90000,
		url:"$request.contextPath/captcha/send",
		type:"post",
		data:data,
		success:function(data){
			if(data.isOK == '2'){
				$('#code_key').val(data.codeKey);
			} else {
				if(data.message!=''){
					alert(data.message);
				}else{
					alert("验证码发送失败");
					}
				$("#captcha_send").removeAttr("disabled");
				$("#captcha_send").html("发送验证码");
				window.clearInterval(timer);//去掉定时器 
				time = 90;
			}
		}
	});
	});
	
	$('#captcha_id').blur(function()
			{
				var val = $(this).val();
				if(val.length == 6)
				{
					var data = {code:val,codeKey:$('#code_key').val()};
					$.ajax({
						url:"$request.contextPath/captcha/check",
						type:"post",
						data:data,
						dataType: "json",
						success:function(data){
							if(!data.message){
								$("#captcha_span").html("验证码不正确");
								$("#checked").val("");
							} else {
								$("#captcha_span").html("");
								$("#checked").val("true");
							}
						}
					});
				}
			});
	
	var time = 90;
	var timer;
	function sand_timer(){
		timer = window.setInterval(showalert, 1000); 
	}

	function showalert()
	{
		time--;
		if(time > 0){
			$("#span_time").html(time);
		} else {
			$("#captcha_send").html("发送验证码");
			$("#captcha_send").removeAttr("disabled");
			window.clearInterval(timer);//去掉定时器 
			time = 90;
			$("#select_contact_id").attr("disabled",false);
		}
	}
	
	$("#submit_id").click(function(){
        $("#userVerifyForm").submit();
	});
	
</script>
