<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
	
	<!-- 运费模版 -->
	<dubbo:reference id="shopFreightTemplateService" registry="qingdaoRegistry" 
		owner="storecenter" interface="com.camelot.storecenter.service.ShopFreightTemplateService" 
		version="1.0" protocol="dubbo" timeout="100000" init="true" />
		
	<dubbo:reference id="shopFareExportService" registry="qingdaoRegistry"
		owner="zhangfan" interface="com.camelot.storecenter.service.ShopFareExportService"
		version="1.0" protocol="dubbo" timeout="100000" init="true" />	
	<dubbo:reference id="shopExportService" registry="qingdaoRegistry" 
		owner="storecenter" interface="com.camelot.storecenter.service.ShopExportService" 
		version="1.0" protocol="dubbo" timeout="100000" init="true" />	
		
	<dubbo:reference id="shopCustomerServiceService" registry="qingdaoRegistry"
    	owner="storecenter" interface="com.camelot.storecenter.service.ShopCustomerServiceService"
		version="1.0" protocol="dubbo" timeout="100000" init="true" />	
		
</beans>