#set($layout = "/none_layout.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>身份验证</title>
<link href="$request.contextPath/assets/css/basic.css" rel="stylesheet" type="text/css"/>
<link href="$request.contextPath/assets/css/register.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="$request.getContextPath()/assets/js/jquery-1.9.1.js"></script>
<script type="text/javascript">
	$(function(){
	})
</script>
</head>

<body>
 <!--顶部开始-->
#parse("/common/header_top.vm")
    <!--顶部结束-->

 <!--头部开始-->
 <div id="header" >
   <div class="left_img"><img src="$!imageServerAddr$!{logoDTO.picUrl}"/></div><!--left_img （放logo的div） end-->
	<div class="right_img mar_lr20">
        <!-- 每一个所占div-->
        	<div class="per_one">
                <span class="Service"></span>
                诚信保障
            </div>
        <!-- 每一个所占div-->
        	<div class="per_one">
                <span class="approve"></span>
                企业认证
            </div>
        <!-- 每一个所占div-->
        	<div class="per_one">
                <span class="safety"></span>
                安全交易
            </div><!--header end -->
   </div><!--right_img end-->
</div>
 <!--头部结束-->
<!--内容流程start-->
    <div class="stepflex" >
        <dl class="first done" style="width:213px;"><!--正在哪个流程就加入 doing 这个样式 -->
            <dt class="s-num">1</dt>
            <dd class="s-text">验证身份<s></s><b></b></dd>
        </dl>
        <dl class="normal done"  style="width:213px;">
            <dt class="s-num">2</dt>
            <dd class="s-text">设置绑定信息<s></s><b></b></dd>
        </dl>
        <dl class="last doing"  style="width:214px;">
            <dt class="s-num"><i class="fa-check"></i></dt>
            <dd class="s-text">完成<s></s><b></b></dd>
        </dl>
    </div><!--stepflex end -->
    <div class="clear"></div>
    <!--流程结束 -->
    <div class="register_content">
        	<div class="register_box_mid" style="margin-top:40px">
                <p class="font_20"><i class="fa-check-circle mar_r10 font_7a" style="font-size: 23px;"></i><b style="font-size: 23px;">恭喜您，操作执行成功！</b></p>
                <div class="register_state font_14b" style="text-align: center;">您已完成了信息修改，可直接点击<a href="$request.contextPath/security/securitypage" class="font_fe"> 返回 </a>继续浏览。
            </div><!--register_box-->
    </div>
<!--内容end-->
</div>
 </body>
</html>
