<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

   <!--  <bean id="evaluationTimingTask" class="com.camelot.mall.timedtask.EvaluationTimingTask"/>
    <bean id="evaluationTimingTaskDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        调用的类
        <property name="targetObject">
            <ref bean="evaluationTimingTask"/>
        </property>
        调用类中的方法
        <property name="targetMethod">
            <value>performEvaluation</value>
        </property>
    </bean>
	<bean id="evaluationTimingTaskCronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="evaluationTimingTaskDetail" />
        秒，分，时，日，月，年
        每23点运行一次
		<property name="cronExpression" value="0 * 23 * * ?" />
				
		<property name="cronExpression" value="0 */10 * * * ?" />	每10分钟运行一次
		<property name="group" value="App_TRIGGER_GROUP" />
	</bean>
	
	任务调度管理器
	<bean id="clusterQuartzScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="schedulerName" value="APP_SCHEDULER"/>
		Job接受applicationContext的成员变量名
		<property name="applicationContextSchedulerContextKey" value="applicationContext" />
		是否覆盖已有的任务
		<property name="overwriteExistingJobs" value="true" />
		<property name="triggers">
			<list>
				<ref bean="evaluationTimingTaskCronTriggerBean" />
			</list>
		</property>
	</bean> -->
</beans>