#set($staticPath="$request.contextPath/assets")
#set($layout = "/buyer_layout.vm")
<script language="javascript" type="text/javascript" src="$staticPath/js/tab.js"></script>
<script type="text/javascript" src="$staticPath/plugin/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="$staticPath/js/order/order_buyer.js"></script>
<script type="text/javascript">
    function openCustomerWin() {
        if( '$!userId' ==  ''){
            alert("你目前处于非登录状态，请先登录再联系客服！");
            this.location.href="$request.contextPath/user/login";
            return false;
        }
        $.ajax({
            type: "post",
            dataType: "json",
            url:"$request.contextPath/shopCart/ifLogin_shopCustomer",
            success: function(data){
                if(data.ifLogin_shopCustomer == false){
                    alert("你目前处于非登录状态，请先登录再联系客服！");
                    this.location.href="$request.contextPath/user/login";
                    return false;
                }
            }
        });
    }
    
    //查看物流信息
    function queryDelivery(orderItemId){
   		$(".js_logistics").show();
		//清空缓存
		$("#deliveryNumber").val("");
		$("#deliveryCompany").val("");
		$("#deliveryRemark").val("");
		$("#deliveryOrderItemId").val("");
		$("#deliveryData").html("");
		//加载数据
		$.ajax({
			type: "POST",
			dataType: "json",
			url: "$request.getContextPath()/delivery/getDeliveryInfo",
			data: {
				orderItemId: orderItemId
			},
			success: function(data){
				if(data.success){
					//页面数据填写
					setDelfiveryInfo(data.deliveryDTO,data.pushDelibery);
				}else{
					alert("获取数据失败");
				}
			}
		});
	}
	//显示物流信息
	function setDelfiveryInfo(deliveryDTO,pushDelibery){
		$("#deliveryMessage").empty();
		$("#deliveryNumber").val(deliveryDTO.deliveryNumber);
		$("#deliveryCompanyCode").val(deliveryDTO.deliveryCompanyCode);
		$("#deliveryCompanyName").val(deliveryDTO.deliveryCompanyName);
		$("#deliveryRemark").text(deliveryDTO.deliveryRemark);
		var dataArray = pushDelibery.lastResult.data;
		if(dataArray != null){
			var $html = '';
			for(var i = 0 ; i < dataArray.length ; i++){
				var data = dataArray[i];
				$html =$html+
				 "<ul class='list_top bg_05 font_7b'>" +
					"<li  style='height : 35px;margin-left:45px;text-align:left;' class='font_cen'>" + FormatDate(data.time ) +"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+     data.context + "</li>" +
				 "</ul>";
				
			}
			$("#deliveryMessage").append($html);
		}
	}
	function FormatDate (strTime) {
	    var date = new Date(strTime);
	    var minute = date.getMinutes() < 10 ? "0"+date.getMinutes() : date.getMinutes();
	    var second = date.getSeconds() < 10 ? "0"+date.getSeconds() : date.getSeconds();
	    return date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate() 
	    	+ " " + date.getHours() + ":" + minute + ":" + second;
	}
</script>
<style>
.wid_165{width:165px;}
</style>
<input type="hidden" id="contextPath" value="$request.contextPath" />
<div id="main">
<!--left start -->
<div id="leftBuyer" class="border-4" style="width: 198px; float: left;"></div>
<!--left end -->

<!--右边部分开始-->
<div id="right">
      <div class="nTab">
            <!-- 标题开始 -->
            <div class="TabTitle">
				#set($pageState = $pageState)
				<ul id="myTab0">
					<li #if(!$pageState||$pageState==0||$pageState=='') class="active" #else class="normal" #end onclick="changeTabs(this,0);"> 全部订单（$!allOrdersCount）</li>
					<li #if($pageState == 1 ) class="active" #else class="normal" #end onclick="changeShipmentype(this,1,1);">待付款（$!stayPayment）</li>
					<li #if($pageState == 2 ) class="active" #else class="normal" #end onclick="changeShipmentype(this,1,2);">待配送/服务（$!stayDelivery）</li>
					<li #if($pageState == 3 ) class="active" #else class="normal" #end onclick="changeTabs(this,3);">待收货/验收（$!stayReceipt）</li>
					<li #if($pageState == 4 ) class="active" #else class="normal" #end onclick="changeTabs(this,4);">待评价（$!evaluation）</li>
					<li #if($pageState == 5 ) class="active" #else class="normal" #end onclick="changeTabs(this,5);">已完成（$!successOrder）</li>
					<li #if($pageState == 6 ) class="active" #else class="normal" #end onclick="changeTabs(this,6);">已取消（$!cancleOrder）</li>
				</ul>
            </div>
            <!-- 内容开始 -->
            <div class="TabContent">
               <!-- 全部订单 下的内容开始 -->
                <div id="myTab0_Content0">
					#if($pageState == 1 )
					<ul id="tabs" class="TabTitle2 mar_t10 hide">
						<li onclick="changeShipmentype(this,1,$pageState);" #if($shipmentType == 1 ) class="active" #else class="normal" #end>待付款</li>
						<li onclick="changeShipmentype(this,2,$pageState);" #if($shipmentType == 2 ) class="active" #else class="normal" #end>延期付款</li>
					</ul>
					#end
					#if($pageState == 2 )
					<ul id="tabs" class="TabTitle2 mar_t10 hide">
						<li onclick="changeShipmentype(this,1,$pageState);" #if($shipmentType == 1 ) class="active" #else class="normal" #end>已付款订单</li>
						<li onclick="changeShipmentype(this,2,$pageState);" #if($shipmentType == 2 ) class="active" #else class="normal" #end>延期付款订单</li>
					</ul>
					#end
                <!--每一个下面的内容复制开始-------------------------------- -->
                <!--搜索条件 开始-->
			<form id="queryForm" action="$request.getContextPath()/order/queryBuyer" method="post">
                <div id="right_top" class="right_top border-5">
                    <div class="right_top_l">
                        <ul class="list">
                            <li class="wid_260">
                                <span class="font_wid">店铺：</span>
								<input class="wid_135 hei_30 input_Style2" name="shopName" type="text" value="$!tradeOrdersQueryInDTO.shopName"/>
                            </li>
                            <li class="wid_260">
                                <span class="font_wid">订 单 号：</span>
								<input class="wid_135 hei_30 input_Style2" name="orderId" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" value="$!tradeOrdersQueryInDTO.orderId"  />
                            </li>
                            #if($pageState == 1 && $shipmentType == 2)
                            <li class="wid_260">
                             	<!-- 用于延期支付的页面，如果是延期支付，则显示订单状态的查询条件 -->	
                             	<span class="font_wid" >订单状态：</span>
                           		<select id="yq_state" name="yq_state"  class="wid_165 hei_30 input_Style2" >
                                	<option value="" #if($!yq_state=="") selected="selected" #end>请选择</option>
									<option value="2" #if($!yq_state==2) selected="selected" #end>待配送未付款</option>
									<option value="3" #if($!yq_state==3) selected="selected" #end>已发货未付款</option>
									<option value="4" #if($!yq_state==4) selected="selected" #end>已收货未付款</option>
									<option value="5" #if($!yq_state==5) selected="selected" #end>已评价未付款</option>
								</select>
							</li>
							#end
                            #if(!$pageState||$pageState==0||$pageState=='')
                            <li class="wid_260">
                             	<!-- 用于全部订单的页面，显示订单状态的查询条件 -->	
                             	<span class="font_wid" >订单状态：</span>
                           		<select id="yq_state" name="yq_state"  class="wid_165 hei_30 input_Style2" >
                           			<option value="" #if($!yq_state=="") selected="selected" #end>请选择</option>
                                	<option value="1" #if($!yq_state==1) selected="selected" #end>待付款</option>
									<option value="2" #if($!yq_state==2) selected="selected" #end>待配送/服务</option>
									<option value="3" #if($!yq_state==3) selected="selected" #end>待收货/验收</option>
									<option value="4" #if($!yq_state==4) selected="selected" #end>待评价</option>
									<option value="5" #if($!yq_state==5) selected="selected" #end>已完成</option>
									<option value="6" #if($!yq_state==6) selected="selected" #end>已取消</option>
									<option value="7" #if($!yq_state==7) selected="selected" #end>已关闭</option>
								</select>
							</li>
							#end
                            <div class="clear"></div>
                            
							<li class="wid_260">
                                <span class="font_wid" >查看：</span>
								<select id="select_time" name="selectTime"  class="wid_165 hei_30 input_Style2" onchange="getLastMonthYestdy()" >
									<option value="0" #if($!selectTime==0) selected="selected" #end>请选择</option>
									<option value="1" #if($!selectTime==1) selected="selected" #end>一个月以内订单</option>
									<option value="2" #if($!selectTime==2) selected="selected" #end>三个月以内订单</option>
									<option value="3" #if($!selectTime==3) selected="selected" #end>一年以内订单</option>
								</select>
                            </li>
							<li class="wid_500">
                                <span class="font_wid">下单时间：</span>
								<input name="createStart" id="createStart" readonly="readonly"  type="text"
									value="$!date.format('yyyy-MM-dd ',$!tradeOrdersQueryInDTO.createStart )"
									class="wid_135 hei_30 input_Style2" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});"/>
								<i class="demo-icons">-</i>
							    <input name="createEnd"  type="text" readonly="readonly"   id="createEnd"
									value="$!date.format('yyyy-MM-dd ',$!tradeOrdersQueryInDTO.createEnd )"
									class="wid_135 hei_30 input_Style2" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});" />
                            </li>
							<li class="wid_260" style="display:none;" >
                                <span class="font_wid">订单状态：</span>
                                <input type="text" class="input_Style2 wid_160" name="state" id="state" value="$!pageState" />
								<input type="hidden" name="page" value="$!pager.page">
								<input type="hidden" name="shipmentType" id="shipmentType" value="$!shipmentType">
                            </li>
                        </ul>
                    </div>
                    <div class="right_top_r">
                        <button type="button" onclick="submitGoodsForm();" class="button_4 but_cx2">
                            <a class="font_1c hei_24">搜  索</a>
                        </button>
                    </div>
                </div>
               </form>
					<!-- 搜索条件end -->

                <div id="right_bot" class="right_bot">
					<!-- 商品列表开头 -->
					<div class="right_xinxi mar_l14">
						<ul class="list_top bg_08 font_14b mar_b10">
							<li class="wid_300 font_cen hei_40">商品信息</li>
        					<li class="wid_100 font_cen hei_40">单价</li>
        					<li class="wid_40 font_cen hei_40">数量</li>
        					<li class="wid_90 font_cen hei_40">商品操作</li>
        					<li class="wid_60 font_cen hei_40">售后服务</li>
        					<li class="wid_110 font_cen hei_40">总金额</li>
        					<li class="wid_80 font_cen hei_40">订单状态</li>
							<li class="wid_90 font_cen hei_40">订单类型</li>
        					<li class="wid_80 font_cen hei_40">交易操作</li>
						</ul>
						#if($!pager.records.size() == 0)
								<p class="hei_40 mar_20 font_cen" >没有搜索到该信息&nbsp;</p>
						#end
						#foreach($entity in $pager.records)
						<div class="mar_b10">
							<ul class="list_top bg_08 font_14b mar_b10 border">
								<li class="wid_300 hei_40 mar_20">
									<a href="$request.getContextPath()/order/queryOrderInfoBuyer?orderId=$!entity.orderId&passKey=$!entity.passKey" target="_blank">订单号： $!entity.orderId</a>
								</li>
								<li class="wid_220 hei_40 fr">下单时间：$!date.format('yyyy-MM-dd HH:mm:ss ',$!entity.createTime )</li>
								<li class="wid_180 hei_40 over_ell fr">
								#foreach($json in $!jsonArray)
									#if($!entity.orderId == $!json.orderId)
										<span title="$!json.shopName">$!json.shopName</span>
									#end
								#end
								</li>
							</ul>

							<table class="information" id="information">
								<tr>
									<td class="wid_450 border-1 orderItems_js">
										#set($count=0)
										#foreach($entityItem in $!entity.items)
											#set($count=$count+1)
											#foreach($json in $!jsonArray)
												#if($!entity.orderId == $!json.orderId)
													#foreach($jsonItem in $!json.items)
														#if($!entityItem.skuId == $!jsonItem.skuId)
                										<ul class="Refund_one #if($count<$!entity.items.size()) border-6 #end" style="width:592px">
                											<li class="wid_300">
                												<a href="$request.getContextPath()/productController/details?id=$!entityItem.itemId&skuId=$!entityItem.skuId" target="_blank">
                													<img class="fl mar_l10 skuPicUrl_js" src="$!imageServerAddr$!jsonItem.skuPicUrl" name="" width="82" height="82" />
                												</a>
                												<div class="fl wid_180 baobei_container">
                                                                   <div class="fl wid_180 baobei_name" style="margin-top:20px">
                    													<p class="mar_l10 itemName_js" title="$!jsonItem.itemName">
																			<a href="$request.getContextPath()/productController/details?id=$!entityItem.itemId&skuId=$!entityItem.skuId" target="_blank">
                    														#set($str=$!jsonItem.itemName)
                                                                               #if($str.length()>40)
                                                                                   #set($str=$str.substring(0,40))
                                                                                   $str ...
                                                                               #else
                                                                                 $!jsonItem.itemName
																			   #end
																			</a>
                    														<br/>
                    													</p>
                    												</div>
                													<div class="fl wid_200 baobei_spec">
                    													<p class="mar_l10 itemName_js" title="$!jsonItem.itemAttrTitle">
                    														#foreach($itemAttrName in $!jsonItem.itemAttr)
                                                                        		<span style="margin-right:5px">
                                                                				    $itemAttrName.name :
                                                                				#foreach($itemAttrValue in $itemAttrName.values)
                                                                					$itemAttrValue.name 
                    															#end
                    															</span>
                                                                			#end
                    													</p>
                    												</div>
                												</div>
                											</li>
                											#if($!entity.paymentMethod == 3)
  		              											<li class="wid_90 font_cen hei_80 payPrice_js" style="overflow:hidden" title="$!jsonItem.payPrice积分">
	               												$!jsonItem.payPrice积分
                											#else
  		              											<li class="wid_90 font_cen hei_80 payPrice_js" style="overflow:hidden" title="￥$!jsonItem.payPrice">
            													￥$!jsonItem.payPrice
            												#end
                											</li>
            												<li class="wid_48 font_cen hei_80 num_js" style="overflow:hidden" title="$!jsonItem.num">
            													$!jsonItem.num
            												</li>
        													<li class="wid_80 font_cen hei_80 payPrice_js" style="overflow:hidden">
            													#if($!entity.locked == 1)
                													#if($!entity.paid == 1)无
            														<!-- $shipmentType == 2   订单列表：马上付款 和 申请退款/退货 是互斥的-->
	            													#else
	            														#if(!$!jsonItem.refundFlag)
	            															#if($entity.state == 2 || $entity.state == 3)
	            																#if($entity.state == 3)
	            																	<p style="line-height:22px;padding-top:20px">
	            																		#if($!jsonItem.addSource <= 3)
																							<a href="$request.getContextPath()/order/refundAgreement?orderId=$!entity.orderId&skuId=$!entityItem.skuId" class="font_1c cursor">申请退款/退货</a>
																							<!-- 查看物流信息 -->
			            																	</br>
		                																	<a class="font_1c cursor" onclick="queryDelivery('$!jsonItem.orderItemId');">查看物流信息</a>
																						#else
																							<a class="font_1c cursor" onclick="queryDelivery('$!jsonItem.orderItemId');">查看物流信息</a>
																						#end
			            																</p>
                																#else
                																	<a href="$request.getContextPath()/order/refundAgreement?orderId=$!entity.orderId&skuId=$!entityItem.skuId" class="font_1c cursor">申请退款/退货</a>
                																#end
	            															#elseif($entity.state > 3 && $entity.state < 6 )
	            																<p style="line-height:22px;padding-top:20px">
            																		#if($!jsonItem.addSource <= 3)
																						<a href="$request.getContextPath()/order/refundAgreement?orderId=$!entity.orderId&skuId=$!entityItem.skuId" class="font_1c cursor">申请售后</a>
																						</br>
			            																<!-- 查看物流信息 -->
	                																	<a class="font_1c cursor" onclick="queryDelivery('$!jsonItem.orderItemId');">查看物流信息</a>
																					#else
																						<a class="font_1c cursor" onclick="queryDelivery('$!jsonItem.orderItemId');">查看物流信息</a>
																					#end
	            																</p>
	            															#elseif($entity.state >=6)
	            																<!-- 查看物流信息 -->
                																<a class="font_1c cursor" onclick="queryDelivery('$!jsonItem.orderItemId');">查看物流信息</a>
	            															#end
	            														#else
	            															#if($entity.state >=3 && $entity.state < 6)
	            																<p style="line-height:22px;padding-top:20px">
	            																	#if($!jsonItem.addSource <= 3)
																						<a href="$request.getContextPath()/order/refundSubmitSucc?returnId=$!jsonItem.refundId&skuId=$!entityItem.skuId" target="_blank" class="font_1c cursor">查看退款/退货进度</a>
																						</br>
		            																	<!-- 查看物流信息 -->
	                																	<a class="font_1c cursor" onclick="queryDelivery('$!jsonItem.orderItemId');">查看物流信息</a>
	                																#else
	                																	<a class="font_1c cursor" onclick="queryDelivery('$!jsonItem.orderItemId');">查看物流信息</a>
																					#end
		            																
	            																</p>
	            															#else
	            																#if($entity.state >=6)
	            																	<p style="line-height:22px;padding-top:20px">
	            																		#if($!jsonItem.addSource <= 3)
																							<a href="$request.getContextPath()/order/refundSubmitSucc?returnId=$!jsonItem.refundId&skuId=$!entityItem.skuId" target="_blank" class="font_1c cursor">查看退款/退货进度</a>
																							</br>
    		            																	<!-- 查看物流信息 -->
    	                																	<a class="font_1c cursor" onclick="queryDelivery('$!jsonItem.orderItemId');">查看物流信息</a>
																						#else
																							<a class="font_1c cursor" onclick="queryDelivery('$!jsonItem.orderItemId');">查看物流信息</a>
																						#end
	            																	</p>
	            																#else
																					<p style="line-height:22px;padding-top:20px">
																						#if($!jsonItem.addSource <= 3)
																							<a href="$request.getContextPath()/order/refundSubmitSucc?returnId=$!jsonItem.refundId&skuId=$!entityItem.skuId" target="_blank" class="font_1c cursor">查看退款/退货进度</a>
																						#end
                                                                                    </p>
	            																#end
	            															#end
	            														#end
	            													#end
	            												#else
																	<span>订单已被冻结</span>
																#end
                													
            												</li>
    														<li class="wid_70 font_cen hei_80 payPrice_js" style="overflow:hidden">
    				        								#if($jsonItem.afterService == '1'||!$jsonItem.afterService )无
				        									#elseif ($jsonItem.afterService == '2' )进行中
				        									#elseif ($jsonItem.afterService == '3' )已完成
				        									#elseif ($jsonItem.afterService == '4' )已关闭
				        									#elseif ($jsonItem.afterService == '5' )<p style="line-height:22px;padding-top:20px">部分商品</br>已退款</p>
				        									#else &nbsp;
    				        								#end
    														</li>
                										</ul>
														#end
													#end
												#end
											#end
										#end
									</td>
									<td class="wid_100 border-1 font_cen">
        								#if($entity.paymentMethod == 3)
											<div class="wid_100" style="overflow:hidden" title="$entity.integral积分">
	        									<span class="hei_30">$entity.integral积分</span><br/>
        									</div>
										#else
											<div class="wid_100" style="overflow:hidden" title="￥$entity.paymentPrice">
	        									<span class="hei_30">￥$entity.paymentPrice</span><br/>
	        									#if($entity.discountAmount)
	        										<span title="VIP优惠" class="cursor">惠:￥$entity.discountAmount</span>
	        									#end
        									</div>
										#end
        							</td>
        							<td class="wid_80 border-1 font_cen">
        								#if($entity.state == '1' )  待付款
        									#elseif ($entity.state == '2' )
        										<!--  判断是纯服务还是其他商品-->
        										#set($count=1)
        										#foreach($entityItem in $!entity.items)
													#foreach($json in $!jsonArray)
														#if($!entity.orderId == $!json.orderId)
															#foreach($jsonItem in $!json.items)
																#if($!entityItem.skuId == $!jsonItem.skuId)
																	#if($!jsonItem.addSource > 3)
																		#if($count == 1)
																			待服务
																			#set($count=2)
																		#end
																	#else
																		#if($count == 1)
																			待配送
																			#set($count=2)
																		#end
																	#end
																#end
															#end
														#end
													#end
												#end
        									#elseif ($entity.state == '3' )
        										<!--  判断是纯服务还是其他商品-->
        										#set($count=1)
        										#foreach($entityItem in $!entity.items)
													#foreach($json in $!jsonArray)
														#if($!entity.orderId == $!json.orderId)
															#foreach($jsonItem in $!json.items)
																#if($!entityItem.skuId == $!jsonItem.skuId)
																	#if($!jsonItem.addSource > 3)
																		#if($count == 1)
																			待验收
																			#set($count=2)
																		#end
																	#else
																		#if($count == 1)
																			待收货
																			#set($count=2)
																		#end
																	#end
																#end
															#end
														#end
													#end
												#end
        									#elseif ($entity.state == '4' )待评价
        									#elseif ($entity.state == '5' )已完成
        									#elseif ($entity.state == '6' )已取消
        									#elseif ($entity.state == '7' )已关闭
        									#else &nbsp;
        								#end
        							</td>
									<td class="wid_90 border-1 font_cen">
        								<div class="wid_90" style="overflow:hidden">
        									#if($!entity.orderType == '0' )  询价订单
        									#elseif ($!entity.orderType == '1' ) 协议订单
        									#elseif($entity.paymentMethod == 3) 积分订单
        									#else 普通订单
        								#end
                                        </div>
        							</td>
									<td class="wid_80 border-1 font_cen">
									#if($!entity.locked == 1)
										<a class="font_1c cursor" href="$request.getContextPath()/order/queryOrderInfoBuyer?orderId=$!entity.orderId&passKey=$!entity.passKey" target="_blank">订单详情</a><br/>
										#if($entity.refund == 2)
											<!--     订单列表：马上付款 和 申请退款/退货 是互斥的-->
										#else
											#if($entity.state != 6 && $!entity.paid == 1)
											<a class="font_1c cursor" href="$request.getContextPath()/shopCart/payView?orderNo=$!entity.orderId">马上付款</a><br/>
											#end
										#end
										
										#if($entity.state == '1'  )  <!-- 待付款 -->
										<a class="font_1c cursor" onclick="orderStatusHandle(this, '$!entity.orderId', 6);">取消订单</a><br/>
										#elseif($entity.paid == 1 && ($entity.state == '1' || $entity.state == '2') )
										<!-- 待付款和待配送的延期订单可以取消 -->
											<a class="font_1c cursor" onclick="orderStatusHandle(this, '$!entity.orderId', 6);">取消订单</a><br/>
										#elseif ($entity.state == '2' )<!-- 待配送 -->
										#elseif ($entity.state == '3' )
											<a class="font_1c cursor" onclick="openBomb('$!entity.orderId', $!entity.refund);">
												<!--  判断是纯服务还是其他商品-->
												#set($count=1)
												#foreach($entityItem in $!entity.items)
														#foreach($json in $!jsonArray)
															#if($!entity.orderId == $!json.orderId)
																#foreach($jsonItem in $!json.items)
																	#if($!entityItem.skuId == $!jsonItem.skuId)
																		#if($!jsonItem.addSource > 3)
																			#if($count == 1)
																				&nbsp;确认验收
																				#set($count=2)
																			#end
																		#else
																			#if($count == 1)
																				&nbsp;确认收货
																				#set($count=2)
																			#end
																		#end
																	#end
																#end
															#end
														#end
													#end
											</a><br/><!-- 待确认送货 -->
											#if($entity.delay == 1)
											<a class="font_1c cursor" onclick="delayPayment('$!entity.orderId', $!entity.refund);">
												#set($count=1)
												#foreach($entityItem in $!entity.items)
													#foreach($json in $!jsonArray)
														#if($!entity.orderId == $!json.orderId)
															#foreach($jsonItem in $!json.items)
																#if($!entityItem.skuId == $!jsonItem.skuId)
																	#if($!jsonItem.addSource > 3)
																		#if($count == 1)
																			<!-- 延期验收 -->
																			#set($count=2)
																		#end
																	#else
																		#if($count == 1)
																			&nbsp;延期收货
																			#set($count=2)
																		#end
																	#end
																#end
															#end
														#end
													#end
												#end
											</a><br/>
											#elseif($entity.delay == 2)
											<span>已延期收货</span><br/>
											#end
										#elseif ($entity.state == '7' )	<!-- 已关闭 -->
										<a class="font_c7 cursor" onclick="deleteOrderById('$!entity.orderId');">删除</a><br/>
										<a class="font_1c cursor" href="$request.contextPath/shopCart/buyAgain?orderId=$!entity.orderId">再次购买</a><br/>
										#elseif ($entity.state == '4' ) <!-- 待评价 -->
										<a class="font_1c cursor" href="$request.getContextPath()/buyerEvaluation/initTrading?orderId=$!entity.orderId">评价</a><br/>
										<a class="font_1c cursor" href="$request.contextPath/shopCart/buyAgain?orderId=$!entity.orderId">再次购买</a><br/>
										#elseif ($entity.state == '5' ) <!-- 已完成 -->
										<a class="font_c7 cursor" onclick="deleteOrderById('$!entity.orderId');">删除</a><br/>
										<a class="font_1c cursor" href="$request.contextPath/shopCart/buyAgain?orderId=$!entity.orderId">再次购买</a><br/>
										#elseif ($entity.state == '6' )
										<span>已取消</span><br/>
										<a class="font_c7 cursor" onclick="deleteOrderById('$!entity.orderId');">删除</a><br/><!-- 已取消 -->
										#end
									#else
										<span>订单已被冻结</span><br/>
									#end
									</td>
								</tr>
							</table>
						</div>
						#end
						<div class="clear"></div>
						<!--分页开始 -->
			            #pageVelocity($pager)<!--分页结束 -->
					</div>
				</div>

				<!--循环列表end-->
					</div>
				</div>
			</div><!-- tab页签开始 -->
<div class="clear"></div>
</div>
<!--id="right" end-->
</div>
<!--输入支付密码   开始-->
<div id="addCartBomb" class="po_fai" style="display: none;">
    <div class="po_fai_bg"></div>
    <div class="po_main" style="width:420px;margin-left: -210px; margin-top: -100px;">
		<ul>
	    	<li class="font_18">
	    		<span class="title">支付密码：</span>
				<input type="hidden" id="refund" value="" />
				<input type="hidden" id="orderId_pay" value="" />
				<input type="password" name="paypwd" id="paypwd" class="input_Style2 wid_180" value="" />
	    	</li>
	    	<li class="font_fe font_14b">请收到货后，再确认收货！否则您可能钱货两空！</li>
	        <li class="msg font_14" id="payerror" style="color: red;"></li>
	        <li>
        		<button type="button" style="width: 85px; margin-right: 20px;" class="button_1 hei_40" onclick="confirmReceipt();" id="confirmReceipt">
					提交
        		</button>
				<button type="button" style="width: 85px;" class="button_3 hei_40" onclick="closeBomb();" style="margin-right: 10px;">
        			取消
        		</button>
        		#if($!isHavePayPassword == 0)
        			<span class="font_12" style="margin-right: -50px;">尚未设置密码？<a style="color: blue;" href="$request.contextPath/security/setpaypwdpage?backUrl=/order/queryBuyer">去设置</a></span>
        		#else
        			<span class="font_12" style="margin-right: -50px;">忘记支付密码？<a style="color: blue;" href="$request.contextPath/security/findpaypwdpage?backUrl=/order/queryBuyer">去设置</a></span>
        		#end
	        </li>
    	</ul>
	</div>
</div>
<!--输入支付密码   结束-->
<!--选择商品，申请退款   开始 -->
<div class="po_fai js_choice" style="display:none">
	<div class="po_fai_bg"></div>
	<div class="po_main0 pad_t10" id="boxContent">

	</div>
</div>
<!--选择商品，申请退款   结束-->

<!--===========================添加物流信息DIV start================================-->
<div class="po_fai moban js_logistics" style="display:none;">
    <div class="po_main2 "  style="margin-left:-190px;width:540px;height:450px;padding:0px" >
    	<div class="hei_32 bg_05 pad_l10 "><i class="demo-icons fa-times-circle font_16 fr mar_r10 cursor js_logistics_cancle"></i>物流信息</div>
        <input type="hidden" id="deliveryOrderItemId" value=""/>
		<dl class="wid_500 hei_30 mar_t20 po_re" >
			<dt style="height:20px;" class="fl wid_80 font_right">物流编号：</dt>
			<dd class="fl ">
				<input type="text" readonly="true" class="wid_150 hei_30" id="deliveryNumber" name="deliveryNumber"/>
			</dd>
			<dt style="height:20px;" class="fl wid_80 font_right">物流公司：</dt>
			<dd class="fl ">
				<input type="hidden" id="deliveryCompanyCode" name="deliveryCompanyCode" value=""/>
				<input type="text" readonly="true" class="wid_150 hei_30" id="deliveryCompanyName" name="deliveryCompanyName" value="" />
			</dd>
       	</dl>
       	<dl class="wid_500 hei_20 mar_t20 po_re">
			<dt style="height:20px;" class="fl wid_80 font_right">备注：</dt>
			<dd class="fl">
				<span class="wid_350 hei_20 mar_r10"  id="deliveryRemark"/></span>
			</dd>				
		</dl>
		<div class="mar_b10" style="z-index:1">
    
    		<div class="information" id="deliveryMessage"  >
    		</div>
        </div>
		
		
		<br/>
		<div class=" mar_tb10 mar_r20 font_cen">
			<button class="button_5 hei_30 mar_l10 demo-icons js_logistics_cancle"><a href="#">关闭</a></button>
		</div>
    </div>
</div>
<!--===========================添加物流信息DIV end================================-->

