#set($layout = "common/order.vm")
#if($!type == '1')
	#foreach($entity in $!couponsDTOs)
		<!-- false-未领取，true-已领取-->
		#if($!entity.state == '0')
		    #if($!entity.isGet== false)
				<li onclick="getCoupons('$!entity.couponId',this)">
			#elseif($!entity.isGet== true)
				<li>
			#end
		#elseif($!entity.state == '1')
		 	#if($!entity.isGet== false)
				<li onclick="getCoupons('$!entity.couponId',this)">
			#elseif($!entity.isGet== true)
				<li>
			#end
		#elseif($!entity.state == '2')
			<li>
		#elseif($!entity.state == '3')
			<li>
		#elseif($!entity.state == '7')
			<li>
		#end
	      	<dl class="clear">
	          	<dt class="fl">
	              	<span>$!entity.couponsMoney</span>
	                  <p>
	                  	#if($!entity.couponType == '1')满￥$!entity.meetPrice #end
						#if($!entity.couponType == '2')限额￥$!entity.couponMax #end
						#if($!entity.couponType == '3')&nbsp; #end
	                  </p>
	              </dt>
	               <dd class="fl">
	           		<p class="p01">
	              		#if($!entity.couponUsingRange==1) 平台通用类
						#elseif($!entity.couponUsingRange==2) 店铺通用类
						#elseif($!entity.couponUsingRange==3) 品类通用类
						#elseif($!entity.couponUsingRange==4) SKU使用类
						#end 
	              	</p>
	                <p>
		                #if($!entity.costAllocation==1) 
		                 	平台优惠券
						#elseif($!entity.costAllocation==2) 
							店铺优惠券
						#end
	                </p>
	                 <p>
		                 #if($!entity.costAllocation==2)
							$!entity.shopName
						 #elseif($!entity.costAllocation==1) 
						 	#if($!entity.couponUsingRange==2)
							部分店铺
							#elseif($!entity.couponUsingRange==3) 
							部分品类
							#elseif($!entity.couponUsingRange==4) 
							部分商品
							#end
						 #end
	                </p> 
	           </dd>
	          </dl>
	          <div class="li_bottom clear">
	          <!-- false-未领取，true-已领取-->
				#if($!entity.state == '0')
				    #if($!entity.isGet== false)
						<span style="color:#fe776b; padding-left:10px;">未领取</span>
					#elseif($!entity.isGet== true)
						<span style="color:#fe776b; padding-left:10px;">已领取</span>
					#end
				#elseif($!entity.state == '1')
				 	#if($!entity.isGet== false)
						<span style="color:#fe776b; padding-left:10px;">未领取</span>
					#elseif($!entity.isGet== true)
						<dl class="Coupons_box Coupons_bg_04">
						<span style="color:#fe776b; padding-left:10px;">已领取</span>
					#end
				#elseif($!entity.state == '2')
					<span style="color:#fe776b; padding-left:10px;">已过期</span>
				#elseif($!entity.state == '3')
					<span style="color:#fe776b; padding-left:10px;">已终止</span>
				#elseif($!entity.state == '7')
					<span style="color:#fe776b; padding-left:10px;">已领完</span>
				#end
				
	            <span style="color:#666; padding-right:10px;" class="fr">
	            	有效期：<span class="font_12">$!date.format('yyyy-MM-dd',$!entity.couponStartTime)至 $!date.format('yyyy-MM-dd',$!entity.couponEndTime)</span>
	            </span>
	          </div>
	     </li>
	#end
#end
#if($!type == '2')
	#foreach($entity in $!couponsDTOs)
		<li id="$!entity.couponUserId">
		   	<dl class="clear">
		       	<dt class="fl">
		           	<span>$!entity.couponsMoney</span>
		            <p>
		            	#if($!entity.couponType == '1')满￥$!entity.meetPrice #end
					    #if($!entity.couponType == '2')限额￥$!entity.couponMax #end
					    #if($!entity.couponType == '3')&nbsp; #end
		            </p>
		        </dt>
	            <dd class="fl">
	           		<p class="p01">
	              		#if($!entity.couponUsingRange==1) 平台通用类
						#elseif($!entity.couponUsingRange==2) 店铺通用类
						#elseif($!entity.couponUsingRange==3) 品类通用类
						#elseif($!entity.couponUsingRange==4) SKU使用类
						#end 
	              	</p>
	                <p>
		                #if($!entity.costAllocation==1) 
		                 	平台优惠券
						#elseif($!entity.costAllocation==2) 
							店铺优惠券
						#end
	                </p>
	                 <p>
		                 #if($!entity.costAllocation==2)
							$!entity.shopName
						 #elseif($!entity.costAllocation==1) 
						 	#if($!entity.couponUsingRange==2)
							部分店铺
							#elseif($!entity.couponUsingRange==3) 
							部分品类
							#elseif($!entity.couponUsingRange==4) 
							部分商品
							#end
						 #end
	                </p> 
	           </dd>
		    </dl>
	        <div class="li_bottom clear">
	        	 <span style="color:#fe776b; padding-left:10px;">
	        	 	#if($!entity.deleted == '0')
						#if($!entity.state == '0')
			     			#if($!entity.userCouponType== 1)
								已使用
								<span style="color:#fe776b; padding-left:10px;" onclick="deleteUserCoupons('$!entity.couponUserId')">删除</span>
							#else
								未使用
							#end
						#elseif($!entity.state == '1')
				 			#if($!entity.userCouponType== 1)
								已使用
								<span style="color:#fe776b; padding-left:10px;" onclick="deleteUserCoupons('$!entity.couponUserId')">删除</span>
							#else
								未使用
							#end
						#elseif($!entity.state == '2')
							已过期
							<span style="color:#fe776b; padding-left:10px;" onclick="deleteUserCoupons('$!entity.couponUserId')">删除</span>
						#elseif($!entity.state == '3')
						    #if($!entity.userCouponType== 1)
								已使用
								<span style="color:#fe776b; padding-left:10px;" onclick="deleteUserCoupons('$!entity.couponUserId')">删除</span>
							#else
								未使用
							#end
						#elseif($!entity.state == '7')
						    #if($!entity.userCouponType== 1)
								已使用
								<span style="color:#fe776b; padding-left:10px;" onclick="deleteUserCoupons('$!entity.couponUserId')">删除</span>
							#else
								未使用
							#end
						#end
					#elseif($!entity.deleted == '1')
						已过期
						<span style="color:#fe776b; padding-left:10px;" onclick="deleteUserCoupons('$!entity.couponUserId')">删除</span>
					#end
	        	 </span>
	             <span style="color:#666; padding-right:10px;" class="fr">
	             	有效期：<span class="font_12">$!date.format('yyyy-MM-dd',$!entity.couponStartTime)至 $!date.format('yyyy-MM-dd',$!entity.couponEndTime)</span>
	             </span>
	        </div>
	   </li>
	#end
#end
#if($!type == '3')
	#foreach($entity in $!couponsDTOs)
	
		<li id="$!entity.couponUserId" onclick="selectedCoupons('${entity.couponId}');">
			
		   	<dl class="clear">
		       	<dt class="fl">
		           	<span>
		           	 #if($!entity.couponType == '2')
		           	    #set($str=$!entity.descr)
						#set($str = $str.substring(0,$str.lastIndexOf("折")))  
		           	    $str折
		           	 #else
		           	 	  $!entity.couponAmount 
		           	 #end
		           	</span>
		            <p>
		            	#if($!entity.couponType == '1')满￥$!entity.meetPrice #end
					    #if($!entity.couponType == '2')限额￥$!entity.couponMax #end
					    #if($!entity.couponType == '3')&nbsp; #end
		            </p>
		        </dt>
	             <dd class="fl">
	           		<p class="p01">
	              		#if($!entity.couponUsingRange==1) 平台通用类
						#elseif($!entity.couponUsingRange==2) 店铺通用类
						#elseif($!entity.couponUsingRange==3) 品类通用类
						#elseif($!entity.couponUsingRange==4) SKU使用类
						#end 
	              	</p>
	               <p>
		                #if($!entity.costAllocation==1) 
		                 	平台优惠券
						#elseif($!entity.costAllocation==2) 
							店铺优惠券
						#end
	                </p>
	                 <p>
		                 #if($!entity.costAllocation==2)
							$!entity.shopName
						 #elseif($!entity.costAllocation==1) 
						 	#if($!entity.couponUsingRange==2)
							部分店铺
							#elseif($!entity.couponUsingRange==3) 
							部分品类
							#elseif($!entity.couponUsingRange==4) 
							部分商品
							#end
						 #end
	                </p> 
	           </dd>
		    </dl>
	        <div class="li_bottom clear">
	        	 <span style="color:#fe776b; padding-left:10px;">
	        	 	#if($!entity.deleted == '0')
						#if($!entity.state == '0')
			     			#if($!entity.userCouponType== 1)
								已使用
							#else
								未使用
							#end
						#elseif($!entity.state == '1')
				 			#if($!entity.userCouponType== 1)
								已使用
							#else
								未使用
							#end
						#elseif($!entity.state == '2')
							已过期 
							<span style="color:#fe776b; padding-left:10px;" onclick="deleteUserCoupons('$!entity.couponUserId')">删除</span>
						#elseif($!entity.state == '3')
						    #if($!entity.userCouponType== 1)
								已使用
							#else
								未使用
							#end
						#elseif($!entity.state == '7')
						    #if($!entity.userCouponType== 1)
								已使用
							#else
								未使用
							#end
						#end
					#elseif($!entity.deleted == '1')
						已过期
						<span style="color:#fe776b; padding-left:10px;" onclick="deleteUserCoupons('$!entity.couponUserId')">删除</span>
					#end
	        	 </span>
	             <span style="color:#666; padding-right:10px;" class="fr">
	             	有效期：<span class="font_12">$!date.format('yyyy-MM-dd',$!entity.couponStartTime)至 $!date.format('yyyy-MM-dd',$!entity.couponEndTime)</span>
	             </span>
	        </div>
	        
	   </li>
	  
	#end
	<button class="button_1 pad_tb3 hei_34 fr" style="margin:3px 3%;" onclick="selectedCoupons('');">取消使用</button>
#end

