#set($layout = "/mini_layout.vm")
#set($staticPath="$request.contextPath/assets")
<link href="$staticPath/css/basic.css" rel="stylesheet" type="text/css"/>
<link href="$staticPath/css/Details.css" rel="stylesheet" type="text/css"/>


<div id="header">
    <div class="left_img">
    	<a href="$!siteDomain">
    		<img id="logo" src="$!imageServerAddr$!{logoDTO.picUrl}" style="width:227px; height: 90px;"/>
    	</a>
    </div>
	<div class="tree tree_3"></div>
</div>

<!--主体-->
<div class="wid border-4">
	<div class="check-s" style="margin-top: 40px;">
			#if( $executeResult.success )
				<p class="font_18 font_7a">
					<i class="fa-check-circle font_24 "></i>
					<b style="line-height:40px;">订单提交成功，需审核人员审核通过之后再付款！</b>
				</p>
			#else
				<p class="font_18 font_7a">
					<i class="fa-info-circle"></i>
					<b>订单提交失败!</b>
					<span class="font_12 mar_l10">
						#foreach($msg in $executeResult.errorMessages)
							<span style="margin-right: 8px;">$!msg</span>
						#end
					</span>
				</p>
			#end
	</div>
	<div class="cod_con2 font_14" style="width: 1156px;">
		<div style="float: right; width: 200px;">
			#if( $executeResult.success )
				<a href="$request.contextPath/order/queryBuyer?approve=loadApprove" class="font_1c">查看订单</a>|
			#else
				<a href="$request.contextPath/shopCart/toCart" class="font_1c">返回购物车</a>|
			#end
			<a href="$request.contextPath/" class="font_1c">继续购物</a>
		</div>
	</div>
	<div class="cod_con2 font_14" style="width: 1156px;">
		<div style="float: right; width: 200px;">
			<a href="$request.contextPath/" class="font_1c">&nbsp</a>
		</div>
	</div>
	<div class="cod_con2 font_14" style="width: 1156px;">
		<div style="float: right; width: 200px;">
			<a href="$request.contextPath/" class="font_1c">&nbsp</a>
		</div>
	</div>
	
</div>
