#set($layout = "common/blanklayout.vm")
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>协议修改</title>
    <link href="$request.contextPath/assets/css/detail.css" rel="stylesheet" type="text/css"/>
    <script src="$request.contextPath/assets/js/jquery-1.11.2.min.js"></script>
    <script src="$request.contextPath/assets/js/jquery-finger-v0.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" src="$request.contextPath/assets/css/detail.js"/>
    <script src="$request.contextPath/assets/js/iscroll.js"></script>
    <script src="$request.contextPath/assets/js/zepto.js"></script>
    <script src="$request.contextPath/assets/js/style.js"></script>
    <script type="text/javascript" src="$request.contextPath/assets/js/ajaxfileupload.js"></script>
    <script src="$request.contextPath/assets/js/modernizr-custom-v2.7.1.min.js"></script>
    <script src="$request.contextPath/assets/js/contract/contract.js"></script>
    <script src="$request.contextPath/assets/js/tab.js"></script>
    <input type="hidden" id="sourcePage" value="$sourcePage">
    <input type="hidden" id="userId" value="$register.uid">
    <input id="contextPath" type="hidden" value="$request.contextPath">
    <input id="gix" type="hidden" value="$gix">
    <style>
        .wrapper {
            position: absolute;
            z-index: 1;
            top: 45px;
            bottom: 50px;
            left: 0;
            width: 100%;
            background: #ccc;
            overflow: hidden;
        }

        .scroller {
            position: absolute;
            z-index: 1;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            width: 100%;
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-text-size-adjust: none;
            -moz-text-size-adjust: none;
            -ms-text-size-adjust: none;
            -o-text-size-adjust: none;
            text-size-adjust: none;
        }
    </style>
    <script type="text/javascript">
    $(document).ready(function () {
    	 var a = $("input:hidden[name='urlname']");
         var picUrl="";
         $(a).each(function(){
         	 if($(this).val()){
         		 picUrl=picUrl+$(this).val()+",";
         	 }
         });
     	$("#annexcc").val(picUrl); 
    
	});
    </script>
    
</head>
<body class="po_re bg_3">
<div id="main" class="po_re">
    <!-- 中间内容 -->
    <div class="content" id="wrapper">
        <div class="nTab">
            <div class="TabTitle bg_01">
            #*<ul id="myTab0" class="myTab0">
                </ul>*#
            </div>
            <div class="clear"></div>
            <div id="myTab0_Content1" class="bg_01">

                <!-- 表单 -->
                <form id="contractCreateForm">
                    <ul class="pass ">
                         <input type="hidden"  id="protocolTypeId" name="protocolTypeId" value="$!protocolTypeId" />
                        <li><p class="wid_30 fl font_right pad_r5"><span class="font_e5">*</span>协议序号</p>
                            <input name="contractOrderNo" type="text" class="wid_50 form-control hei_20"
                                   id="contractOrderNo" value="$!contractInfo.contractOrderNo"/>
                            <input type="hidden" value="$contractInfo.id" name="id">
                            <input type="hidden" value="$contractInfo.contractNo" name="contractNo">
                        </li>
                        <li><p class="wid_30 fl font_right pad_r5"><span class="font_e5">*</span>协议名称</p><input
                                name="contractName" type="text" class="wid_50 form-control hei_20"
                                value="$contractInfo.contractName"/></li>
                        <li><p class="wid_30 fl font_right pad_r5"><span class="font_e5">*</span>协议开始日期</p><input
                                name="beginDate" type="date" class="wid_50 form-control hei_20" id="beginDate"
                                value="$date.format("yyyy-MM-dd",$contractInfo.beginDate)"/></li>
                        <li><p class="wid_30 fl font_right pad_r5"><span class="font_e5">*</span>协议终止日期</p><input
                                name="endDate" type="date" class="wid_50 form-control hei_20" id="endDate"
                                value="$date.format("yyyy-MM-dd",$contractInfo.endDate)"/>
                        </li>
                        #if($register.uid==$contractInfo.supplierId)
                            <li><p class="wid_30 fl font_right pad_r5"><span class="font_e5">*</span>买方</p><input
                                   onclick="getCompany(1)" name="printerName" value="$!user.uname"
                                    type="text" class="wid_50 form-control hei_20" disabled="disabled"/>

                                <input type="hidden" value="2" id="searchType">
                            </li>
                        #end
                        #if($register.uid==$contractInfo.printerId)
                            <li><p class="wid_30 fl font_right pad_r5"><span class="font_e5">*</span>卖方</p><input
                                  name="supplierName" value="$!seller.uname"
                                    type="text" class="wid_50 form-control hei_20" disabled="disabled"/>

                                <input type="hidden" value="3" id="searchType">
                            </li>
                        #end
                         <li>
                             <p class="wid_30 fl font_right pad_r5">协议类型</p>
                             <p >
                                #if("1"==$!protocolTypeId)
					                                      单价
					              #end
					              #if("2"==$!protocolTypeId)
					                                      数量 
					              #end
					              #if("3"==$!protocolTypeId)
					                                         总价格
					               #end
                             </p>
                          
                         
                        </li>
                        
                        <input type="hidden" name="printerId" value="$contractInfo.printerId">
                        <input type="hidden" name="supplierId" value="$contractInfo.supplierId">

                        <li><p class="wid_30 fl font_right pad_r5"><span class="font_e5">*</span>账期</p>
                            <input type="hidden" value="$paymentTermDTO.paymentType" id="paymentTypeID">
                            <input type="hidden" value="$paymentTermDTO.paymentDays" id="days">
                            #if($paymentTermDTO.paymentType==0)
                                <div style="width:60%" class="fl">
                                    <input type="radio" value="0" name="paymentType" onclick="radioChange()"
                                           checked="true">
                                    <span style="padding-left: 4%;padding-right:4%">天</span>
                                    <select id="choseDay" class="wid_30 form-control"
                                            name="paymentDays">
                                        <option value=""></option>
                                        <option value="7">7</option>
                                        <option value="30">30</option>
                                        <option value="60">60</option>
                                        <option value="90">90</option>
                                        <option value="120">120</option>
                                        <option value="180">180</option>
                                    </select>
                                </div>
                                <div class="clear"></div>

                                <p class="wid_30 fl font_right pad_r5">&nbsp;</p>

                                <div style="width:60%" class="fl">
                                    <input type="radio" value="1" onclick="radioChange()" name="paymentType"/>
                                    <span style="padding-left: 4%;padding-right:4%">月</span>
                                    <select name="paymentMonth" id="choseMonth" disabled="true"
                                            class="wid_30 form-control">
                                        <option value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                                <!--创建完毕:0;协议需要审批:1;审批完毕:2;确认完毕:4;-->
                            #else
                                <div style="width:60%" class="fl">
                                    <input type="radio" value="0" name="paymentType" onclick="radioChange()"/>
                                    <span style="padding-left: 4%;padding-right:4%">天</span>
                                    <select id="choseDay" disabled="true" class="wid_30 form-control"
                                            style="padding-left:0%"
                                            name="paymentDays">
                                        <option value=""></option>
                                        <option value="7">7</option>
                                        <option value="30">30</option>
                                        <option value="60">60</option>
                                        <option value="90">90</option>
                                        <option value="120">120</option>
                                        <option value="180">180</option>
                                    </select>
                                </div>
                                <div class="clear"></div>
                                <p class="wid_30 fl font_right pad_r5">&nbsp;</p>

                                <div style="width:60%" class="fl">
                                    <input type="radio" value="1" onclick="radioChange()" checked="true"
                                           name="paymentType"/>
                                    <span style="padding-left: 4%;padding-right:4%">月</span>
                                    <select name="paymentMonth" id="choseMonth"
                                            class="wid_30 form-control">
                                        <option value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                                <!--创建完毕:0;协议需要审批:1;审批完毕:2;确认完毕:4;-->
                            #end
                        </li>
                        <div class="clear"></div>
                        <li id="uploadLi"><p class="wid_30 fl font_right pad_r5">附件 </p>
                          <input type="file" id="fileInput" class="wid_50 form-control hei_20" name="file" onchange="startUpload();" />
                       		
                       		   <input type="hidden" value="$!{contractUrlShowList.size()}" id="contractUrlShowListNumber" name="contractUrlShowListNumber"/>
                       		#if($!contractUrlShowList)
								 #foreach($contractUrlList in $contractUrlShowList)
								 #set($str=$!contractUrlList.imgUrl)
								 #set($str = $str.substring($str.lastIndexOf("-")))  
								 #set($str = $str.substring(1))  
								 <p class='wid_150 fl font_right pad_r5' id='url$!contractUrlList.id' style='line-height:30px;margin-left:25%'>
								 附件:&nbsp;&nbsp;&nbsp;<a href='$!ftpServerDir$!contractUrlList.imgUrl'>$str</a>
								 <a href="javascript:cancleimg('$!contractUrlList.id','$!contractUrlList.imgUrl')">&nbsp;&nbsp;&nbsp;删除</a><input type='hidden' id='urlname$!contractUrlList.id' name='urlname' value='$!contractUrlList.imgUrl'  /></br></p>
                           		  #end
							#end
                        </li>
                         <div class="clear"></div>
                       
                        <div class="clear"></div>
                        <li><p class="wid_30 fl font_right pad_r5">备注</p>
                            <input type="hidden" value="$contractInfo.remark" id="conRemark"/>
                            <input type="text" id="remarkDetail" class="wid_50 form-control hei_20" name="remark"/></li>

                        #if($contractInfo.status==0||$contractInfo.status==2||$contractInfo.status==7||$contractInfo.status==6)
                            <li><p class="wid_30 fl font_right pad_r5">需要审批</p>
                                <input type="hidden" id="conStatus" name="status" value="$contractInfo.status">

                                <p><input type="checkbox" id="needApprove" value="1"
                                    #if($contractInfo.status==7||$contractInfo.status==2)
                                          checked="true"
                                    #end
                                          onclick="showApproveList(this)"/>
                                    是</p>
                            </li>

                            <li style="display: #if($contractInfo.status==7||$contractInfo.status==2) block #else none #end;"
                                id="approveBy">
                                <p class="wid_30 fl font_right pad_r5">选择审批人</p>
                                <input type="hidden" value="$contractInfo.approveBy" id="approveInfo">
                                <select id="approveList" class="wid_55 form-control"
                                        name="approveBy" #if($contractInfo.status==7) #else disabled="disabled" #end>
                                    <option value=""></option>
                                    #foreach($childUserListPost in $approveList)
                                        <option value="$childUserListPost.userId">$childUserListPost.username</option>
                                    #end
                                </select>
                            </li>
                        #end
                           <input type="hidden" id="annexcc" name="annexcc"/>
                           <input type="hidden" id="annex" name="annex"/>
                    </ul>
                </form>
                <!-- 表单 end-->
                <!-- table -->
                <div>
                    <div id="itemList">
                        #foreach($itemsku in $contractMat)
                            <ul class="mar_lr5">
                                <div class="hei_32 border_2">
                                    <p class="wid_95 fl shop_order_p over_ell"><span>物品名称：$!itemsku.itemName</span></p>
                                    <input type="hidden" name="itemName" value="$!itemsku.get('itemName')">
                                    <input type="hidden" name="skuId" value="$itemsku.get('skuId')">
                                    <input type="hidden" name="matCd" value="$itemsku.get('matCd')">
                                    <input type="hidden" name="id" value="$itemsku.get('id')">
                                </div>
                                <div class="border_2 shop_order pad_tb5">
                                    <p class="wid_95 fl shop_order_p over_ell">
                                        <span>商品编号：$!itemsku.get("skuId") </span>
                                    </p>

                                    <p class="wid_95 fl shop_order_p over_ell">
                                        <span>商品属性：$!itemsku.get("salerAttr") </span>
                                    </p>
                                    
        				   #if("2"==$!protocolTypeId)  
                               <p class='wid_95 fl shop_order_pLs over_ell'><span>总数量：<input type='text' onkeyup='priceTrim(this)' maxlength='8' class='form-control wid_30 hei_24' value="$!itemsku.get('number')" name='number' />（个）</span></p>
          		           #end 
     					  #if("3"==$!protocolTypeId)
        	                   <p class='wid_95 fl  shop_order_pLs over_ell'><span>总价值：￥<input type='text' onkeyup='priceTrim(this)' maxlength='8' class='form-control wid_30 hei_24' value="$!itemsku.get('cost')" name='cost' />（元）</span> </p>
              
                    		#end      
                                   

                                    <p class="wid_95 fl shop_order_p over_ell">
						
                                                                                          价格：￥<input type="text" onkeyup="priceTrim(this)"
                                                   maxlength="8"
                                                   class="form-control wid_30 hei_24"
                                                   value="$!itemsku.get('matPrice')" name="matPrice"/>
                                   
                                        <button class="fr button_3 pad_mlr5" onclick="removeItem(this)">删除</button>
                                    </p>
                                    <div class="clear"></div>
                                </div>
                            </ul>
                        #end
                    </div>
                    <div class="wid_100 hei_32 font_cen"
                         onclick="showItemSearchDIV()">
                        <span>点击新增物品</span><i class="fa fa-plus-circle"></i>
                    </div>
                </div>
                <!-- table -->
                <div class="font_right">
                    <button class="hei_32 pad_lr10 button_1" onclick="updateContractInfo()">保存</button>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- 公司选择弹出层 Start-->
    <div id="Idiv" class="bombbox">
        <div class="bombbox_bg">
            <div style="float:left;width:100%;border-bottom: 1px solid #eee">
                <span style="float:right;font-size:20px;font-weight:bold; line-height: 32px;margin-right:5%;">选择公司联系人</span>
                <input type="hidden" id="IdivOperate">
            </div>
            <div class="clear"></div>
            <div id="company" class="wrapper">
                <div class="scroller">
                    <div id="pullDowncompany">
                        <span class="pullDownIcon"></span><span id="pullDownLabelcompany"
                                                                class="pullDownLabel">下拉刷新...</span>
                    </div>
                    <div class="pad_lr5 bg_01" id="partBDetailcompany">

                    </div>
                    <div id="pullUp">
                        <span class="pullUpIcon"></span><span class="pullUpLabel"
                                                              id="pullUpLabelcompany">上拉加载更多...</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:100%;position: fixed;z-index: 999999;bottom: 0;left:0;">
            <button style="float:left;width:100%" class="button_r pad_lr5" id="companyCloseButton"
                    onclick="closeDiv(this)">
                <span style="font-weight:bold;font-size:16px;">取消</span>
            </button>

        </div>
    </div>
    <!-- 公司选择弹出层 End-->
    <!-- 物品搜索弹出层 Start -->
    <div id="itemSearchDIV" class="bombbox">
        <div class="bombbox_bg" style="overflow: auto">
            <div class="purchase hei_50 bg_02" style="top:0px;position:fixed">
                <p class="fl mar_lr4 font_cen"><i class="fa fa-list-ul font_1_5"
                                                  onclick="toggleMenu();return false;"></i>
                </p>

                <p class="fl po_re wid_67"><input id="keyWord" onchange="changeKeyWord();" value="$!content"
                                                  type="text" class="form-contro2 wid_95"/>
                    <i class="fa-search font_1_2 fa-user2 po_ab" style="padding-top: 5%"></i>
                </p>
            </div>
            <!-- 头部 -->
            <div id="navigation" class=""
                 style="z-index:9999;position:fixed;top:50px; #if($showMenu == $0)display:none;#end">
                <ul id="list">
                    #foreach($item1 in $itemList)
                        <li><a href="#" onclick="showItem(this,2);return false;"
                               categoryCid="$item1.categoryCid"><span
                                class="font_e5 mar_r2">|</span>$item1.categoryCName</a>
                            <ul class="myHide" isItem2 parentId="$item1.categoryCid">
                                #foreach($item2 in $item1.children)
                                    <li><a href="#" onclick="return false;"
                                           class="font_e5 font_8_5">$item2.categoryCName</a></li>
                                    <li class="border_2" isItem3 parentId="$item2.categoryCid">
                                        <a>
                                            #foreach($item3 in $item2.children)
                                                <span style=""
                                                      onclick="loadItem("$item3.categoryCid
                                                ")">$item3.categoryCName</span>
                                            #end
                                        </a>
                                    </li>
                                #end
                            </ul>
                        </li>
                    #end
                </ul>
            </div>
            <div class="clear"></div>
            <div id="itemSearchResult" style="overflow: auto;padding:15% 0 15% 0;">

            </div>
        </div>
        <div style="width:100%;position: fixed;z-index: 999;bottom: 0;left:0;">
            <div style="padding-left:22%">
                <button class="hei_32 pad_lr10 button_2" onclick="closeItemSearchDIV()">
                    <span style="font-weight:bold;font-size:16px;">取消</span>
                </button>
                <button class="hei_32 pad_lr10 button_1" onclick="createItemLi()">
                    <span style="font-weight:bold;font-size:16px;">确定</span>
                </button>
            </div>
        </div>
    </div>
    <!-- 错误消息 -->
    <div id="messageDIV" class="bombbox">

        <div class="bombbox_bg" style="overflow: auto">

            <div style="float:left;width:100%;border-bottom: 1px solid #eee">
                <span style="float:left;font-size:20px;font-weight:bold; line-height: 32px;margin-right:5%;">友情提醒</span>
            </div>
            <div class="clear"></div>
            <div id="resultMessage">

            </div>
            <div style="width:100%;position: fixed;z-index: 999;bottom: 0;left:0;">
                <button style="float:left;width:auto" class="button_r pad_lr5" onclick="closeMessageDiv(this)">
                    <span style="font-weight:bold;font-size:16px;">确定</span>
                </button>
            </div>
        </div>
    </div>
    <!-- 错误消息 -->
</div>
    #parse("common/footer.vm")
</body>
<script>
    $(document).ready(function () {
        if ($("#conRemark").val()) {
            $("#remarkDetail").val($("#conRemark").val());
        }
        if ($("#conStatus").val() == 7) {
            $("#approveList").val($("#approveInfo").val());
        }
        if ($("#paymentTypeID").val() == 0) {
            $("#choseDay").val($("#days").val());
        } else {
            $("#choseMonth").val($("#days").val());
        }
        $("#remark").val($("#remarkDetail").val());
    });
    var uType = $("#userType").val();
</script>
</html>