#set($ctxPath="$request.contextPath")
#set($layout = "common/blanklayout.vm")
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="${request.getContextPath()}/"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>修改密码</title>
<link type="text/css" rel="stylesheet" href="assets/css/detail.css" />
<script type="text/javascript" src="assets/js/iscroll.js"></script>
    <script type="text/javascript" src="assets\js\jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="assets/plugin/common/captcha.js"></script>
<script type="text/javascript" src="assets/js/tab.js"></script>

<script >

    $(function() {
        //注册按钮开始-------------------------------------------------------------------------------------------------------
        $("#personalBtn").click(function () {
            if($('#loginpwd1').val()!=$('#loginpwd2').val()){
				$('#mag').html("两次输入的密码不相同！");
				return false;
			}
            if($('#loginpwd1').val()==null || $('#loginpwd1').val()==''){
                $('#mag').html("密码不允许为空！");
                return false;
            }
            var chrnum = /^((?=.*?\d)(?=.*?[A-Za-z])|(?=.*?\d)(?=.*?[\W])|(?=.*?[A-Za-z])(?=.*?[\W]))[\dA-Za-z\W]+.{5,20}$/;
            var loginpwd = $('#loginpwd1').val().trim();
            var r = loginpwd.match(chrnum);
            if(r==null){
                $('#mag').html("密码为6-20位字符，由数字、字母、符号两个以上组合!");
                return false;
            }
             $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "$request.contextPath/person/modifyPwdByname",
                    data: $("#personalForm").serializeArray(),
                    success: function (data) {
                        $('#mag').html(data.message);
                        window.location = "$request.contextPath";

                    },
                    error: function (data) {
                        $('#mag').html("修改失败，请重新操作！");
                        return false;
                    }
                });
            return false;
        });
    });
</script>

</head>
<body>
<div id="main" class="po_ab">
    <form id="personalForm" method="post" >
        <input id="keyPersonalRegisterDuplicateRedis" name="keyPersonalRegisterDuplicateRedis" type="hidden" value="$!keyPersonalRegisterDuplicateRedis"/>
        <input id="loginname" name="loginname" type="hidden" value="$!loginname"/>
            <!-- 中间内容 -->

        <div class="content" id="wrapper">
            <div class="hei_100 font_cen wid_100">
                <img src="assets/images/logo-ke.png"  style="max-width: 100%;max-height: 100%"/>
            </div>
                <div class="hei_20 font_1_5 mar_t10 font_cen">$!loginname</div>
                <h3 class="hei_20 font_cen"><span id="mag" style="color: #c80000"></span></h3>
                <ul class="pass mar_cen wid_90">
                    <li><p class="fl wid_30 font_right pad_r10 font_1_2">请设置密码：</p>
                        <input type="password" id="loginpwd1" name="cpwd" class="input_3 wid_60"  required="true" placeholder="6-20位字符，建议由字母数字组成" />
                    </li>
                    <li><p class="fl wid_30 font_right pad_r10 font_1_2">请确认密码：</p>
                        <input type="password" id="loginpwd2" name="loginpwd2" class="input_3 wid_60"  required="true" placeholder="6-20位字符，建议由字母数字组成" />
                    </li>
                </ul>
                <div class="font_cen"><button id="personalBtn" class="button_1 wid_87 hei_32">确   定</button></div>
            </div><!-- 中间内容 end-->
    </form>
</div>
</body>
</html>
