#set($staticPath="$request.contextPath/assets")
#set($layout = "common/blanklayout.vm")
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>

<link href="$staticPath/css/detail.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" src="$staticPath/css/detail.js" />
<link rel="stylesheet" type="text/css" src="$staticPath/css/style.js" />
<script type="text/javascript" src="$staticPath/js/iscroll.js"></script>
<script type="text/javascript" src="$staticPath/js/zepto.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<!--主体-->
<div class="content" id="wrapper">

        <div class="hei_70 wid_100 ">
            <img src="$staticPath/images/logo_zf.png"  width="80%"/>
        </div>
		#if($!success)
			#if($er.result == 1 )
				<script type="text/javascript" >
					var $result = eval($er.resultMessage);
				   	function onBridgeReady(){
					   WeixinJSBridge.invoke(
					       'getBrandWCPayRequest', $result,
					       function(res){
			                	// 使用以上方式判断前端返回,微信团队郑重提示:res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
					           	if(res.err_msg == "get_brand_wcpay_request:ok" ) {
					           		$("#pay_succ").show();
					           		window.location = '$request.contextPath/orderWx/toOrderSubmit?orderSource=buyers';
					           	}
					       }
					   ); 
					}
					if (typeof WeixinJSBridge == "undefined"){
					   if( document.addEventListener ){
					       document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
					   }else if (document.attachEvent){
					       document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
					       document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
					   }
					}else{
					   onBridgeReady();
					} 
				</script>
            #else
                <div  class="hei_100 wid_100 font_cen" style="margin-top:30px ">
                    <img src="$staticPath/images/ok_03.png" style="width: 50px;height: 50px;"/>
                </div>
                <div class="font_cen">
                    <p class="font_2_0">订单已支付成功！</p>
                </div>
            #end
        #else

            <div class="font_cen hei_60 pad_lr5  mar_t20">
                <p class="font_2_0 font_2" ><i class="fa-exclamation-circle mar_r2"></i>订单支付失败！</p>
            </div>
            #if($er.errorMessages.size()>$0)
                <div class="pad_lr5 hei_20">
                        #foreach($msg in $er.errorMessages)
                            <p class="font_1_2 font_66">$!msg</p>
                        #end
                </div>
            #end
        #end

		<div id="pay_succ" class="font_cen hei_60 pad_lr5  mar_t20" style="display:none">
                <p class="font_2_0 font_2" ><i class="fa-exclamation-circle mar_r2"></i>订单支付完成！</p>
            </div>
        <div class="pad_lr5 mar_t20">
            <p class="font_66 hei_20">重要提示：印刷家平台不会以<span class="font_2">订单异常、系统升级</span>为由，要求您点击任何链接进行退款。</p>
        </div>
        <div class="font_cen mar_t20 po_ab pay_spend">
            <a  href="$request.contextPath/orderWx/toOrderSubmit">查看订单</a><span> | </span><a href="$request.contextPath/">继续购物</a><span> | </span><a href="/mallwx-web">返回首页</a>
        </div>
	
</div>