<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit" />
    #parse("/common/tdk.vm")
</head>
<body>
<section class="w">
    $screen_content
</section>
<div class="clear"></div>
#parse("/common/footer.vm")
</body>
</html>
