@charset "utf-8";
/* CSS Document */
body{ font-size:12px;}
a{ text-decoration:none; font-size:12px; color:#333}
.scroll{
	position:relative;
	width:884px;
	height:160px;
	margin:0 auto;
	background:#f1f1f1;
	padding:25px 45px;
}
.list{
	width:884px;
	height:160px;
    overflow: hidden;
}
.list ul{
	width:3000px;
}
.list li{
	width:197px;
	float:left;
	margin:0 12px;
	display:inline;
}
.list img{
	padding:15px;
	border:1px solid #ccc;
	width:165px;
	height:105px
}
.list p{
	width:197px;
	text-align:center;
	margin:0 auto;
	line-height:24px;
}
.bt-l{
	 position:absolute;
	 left:15px;
	 top:70px;
	 background:url(../images/left.jpg) no-repeat;
	 width:14px; 
	 height:28px;
}
.bt-r{
	 position:absolute;
	 right:15px;
	 top:70px;
	 background:url(../images/right.jpg) no-repeat;
	 width:14px; 
	 height:28px;
}
