<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.storecenter.dao.ShopSalesVolumeDAO">
	
	<!-- =========================================================== -->
    <!-- 定义resultMap                                                                                                                                                                             -->
    <!-- =========================================================== -->
	<resultMap id="shopBrandMap" type="com.camelot.storecenter.dto.ShopSalesVolumeDTO">
				<result property="sellerId" column="seller_id"/>
				<result property="shopId" column="shop_id"/>
				<result property="salesVolume" column="sales_volume"/>
	</resultMap>
	
	<!-- =========================================================== -->
    <!-- 一些公共变量设置                                                                                                                                                                             -->
    <!-- =========================================================== -->
	<!-- mysql 分页 -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.rows}
	</sql>
	<!-- mysql 查询总数 -->
	<sql id="count_Tail">
		select count(1) from 
	</sql>
	
	<delete id="deleteAll" >
		<![CDATA[
		delete from shop_sales_volume
		]]>
	</delete>
	<insert id="insertSaleVolume">
		<![CDATA[
		INSERT INTO shop_sales_volume (seller_id, shop_id, sales_volume) 
		VALUES
		]]>
		<foreach collection="inList" item="sv" open="" separator="," close="">
			(
			    #{sv.sellerId},
			    #{sv.shopId},
			    #{sv.salesVolume}
		  	) 
		</foreach>
		  
	</insert>
</mapper>