<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.storecenter.dao.ShopFavouriteDAO">
	
	<!-- =========================================================== -->
    <!-- 定义resultMap                                                                                                                                                                             -->
    <!-- =========================================================== -->
	<resultMap id="favouriteMapper" type="com.camelot.storecenter.dto.ShopFavouriteDTO">
		<result property="id" column="id"/>
		<result property="shopId" column="shop_id"/>
		<result property="sellerId" column="seller_id"/>
		<result property="userId" column="user_id"/>
		<result property="createdDate" column="created_date"/>
		<result property="shopName" column="shop_name"/>
		<result property="logoUrl" column="logo_url"/>
		<result property="shopUrl" column="shop_url"/>
	</resultMap>
	
	<insert id="add" keyProperty="itemId" >
		insert into shop_favourite(
			shop_id,
			seller_id,
			user_id,
			created_date
		)values(
			#{shopId},
			#{sellerId},
			#{userId},
			now()
		)
	</insert>
	
	
	
	<!-- mysql 分页 -->
	<sql id="pagination_tail">
		limit #{page.pageOffset} , #{page.rows}
	</sql>
	<!-- mysql 查询总数 -->
	<sql id="count_Tail">
		select count(1) from 
	</sql>
	
	
	<sql id="where">
		<if test="entity.shopName != null and entity.shopName != '' ">
			and si.shop_name like concat('%',#{entity.shopName},"%")
		</if>
		<if test="entity.userId != null and entity.userId != '' ">
			and sf.user_id = #{entity.userId}
		</if>
		<if test="entity.userIdList != null and entity.userIdList.size() > 0">
			<![CDATA[ and sf.user_id in ]]>
				<foreach collection="entity.userIdList" item="item" index="index"  open="(" separator="," close=")">
				<![CDATA[ #{item} ]]>
				</foreach>
		</if>
		<if test="entity.shopId!= null and entity.shopId!= '' ">
			and sf.shop_id = #{entity.shopId}
		</if>
	</sql>
	
	<select id="queryPage" resultMap="favouriteMapper">
		select sf.id,
		       sf.shop_id,
		       si.seller_id,
		       si.logo_url,
		       si.shop_url,
		       si.shop_name
		from   shop_favourite sf,
		       shop_info si
		where  sf.shop_id = si.shop_id
		<include refid="where"/>
		<include refid="pagination_tail"/>
	</select>
	
	<select id="queryPageCount" resultType="int">
		select count(0)
		from   shop_favourite sf,
		       shop_info si
		where  sf.shop_id = si.shop_id
		<include refid="where"/>
	</select>
	
	<delete id="del">
		delete from shop_favourite
		where user_id = #{uid}
		and id = #{id}
	</delete>
	
	<select id="list" resultMap="favouriteMapper">
		select sf.id,
		       sf.shop_id,
		       si.seller_id,
		       si.logo_url,
		       si.shop_url,
		       si.shop_name
		from   shop_favourite sf,
		       shop_info si
		where  sf.shop_id = si.shop_id
		<include refid="where"/>
	</select>
	
</mapper>