<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
        <!-- 优惠活动结算单配置 -->
		<dubbo:service interface="com.camelot.activity.service.ActivityStatementSerice"
		owner="camelot" ref="activityStatementSerice" version="1.0" protocol="dubbo"
		delay="-1" registry="qingdaoRegistry" />
</beans>