<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
    ">
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/plain;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- spring mvc related -->
	<!-- mvc controller -->
	<context:component-scan base-package="com.camelot">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
<!-- 		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" /> -->
	</context:component-scan>
	
	<!-- handle static resource -->
<!-- 	<mvc:default-servlet-handler /> -->
	
 	

    <!-- 避免IE提示下载返回的json数据 -->
    <mvc:annotation-driven ignoreDefaultModelOnRedirect="true">
    	<mvc:message-converters register-defaults="true">
 	    	<!--<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
 		        <property name="supportedMediaTypes" value="text/html;charset=UTF-8"/>
 	    	</bean>-->
			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes" value="text/html;charset=UTF-8"/>
			</bean>
	    	<bean class="org.springframework.http.converter.StringHttpMessageConverter">
		        <property name="supportedMediaTypes" value="text/html;charset=UTF-8"/>
	    	</bean>
    	</mvc:message-converters>
    </mvc:annotation-driven>
    
    
	<!-- 拦截器 -->  
     <mvc:interceptors>

		 <!--操作刷新redis -->
        <mvc:interceptor>
			<!--如果不配置或/*,将拦截所有的Controller-->
			<mvc:mapping path="/**"/>
           	<bean class="com.camelot.mall.interceptor.FlushTokenInterceptor"/>
        </mvc:interceptor>
        
         <!--  发送站内信拦截器  -->
        <mvc:interceptor>  
			<mvc:mapping path="/orderWx/orderSubmit"/><!-- 提交订单成功 -->
			<mvc:mapping path="/person/payResult/*"/>
			<mvc:mapping path="/person/payCallBack/*"/><!--支付宝  支付成功 -->
			<mvc:mapping path="/person/payCallBackSuccess/*"/> <!--同步 京东  支付成功 -->
			<mvc:mapping path="/person/payCitic"/><!--小印支付  支付成功 -->
			<mvc:mapping path="/orderWx/cancelOrder"/><!-- 取消订单 -->
			<mvc:mapping path="/orderWx/deliverOrder"/><!-- 待发货 -->
			<!--<mvc:mapping path="/orderWx/confirmReceipt"/> 确认收货 -->
			<mvc:mapping path="/orderWx/submitTrading"/><!-- 评价-->
			<mvc:mapping path="/orderWx/submitSellerToBuyers"/><!-- 评价 -->
			<mvc:mapping path="/orderWx/refundAgreementSubmit"/><!-- 申请退款 退货 -->
			<mvc:mapping path="/orderWx/updateTradeReturn"/><!-- 卖家 同意退款 -->
			<mvc:mapping path="/orderWx/updateTradeReturnSeller"/><!-- 卖家 拒绝退款 -->
			<mvc:mapping path="/orderWx/complainadd"/><!-- 提交仲裁 -->
			<!--<mvc:mapping path="/orderWx/modifyOrderPayStatus"/> 卖家确认收款  -->
			
			<mvc:mapping path="/person/validatePayPassword"/>
           	<bean class="com.camelot.mall.interceptor.SendMessageHandlerInterceptor"/>  
        </mvc:interceptor>

    </mvc:interceptors>


	<!-- static resources -->
<!--	<mvc:resources location="/assets/css/" mapping="/assets/css/**"
		cache-period="0" />&lt;!&ndash; 0 &ndash;&gt;-->
	<mvc:resources location="/assets/fonts/" mapping="/assets/fonts/**"
		cache-period="864000" /><!-- 24 * 3600 * 10 -->
	<mvc:resources location="/assets/images/" mapping="/assets/images/**"
		cache-period="86400" /><!-- 24 * 3600 * 10 -->
	<mvc:resources location="/assets/" mapping="/assets/**/*.js"
		cache-period="0" /><!-- 24 * 3600 * 10 -->
	<mvc:resources location="/assets/" mapping="/assets/**/*.css"
		cache-period="0" /><!-- 24 * 3600 * 10 -->

<!--	<mvc:resources location="/assets/js/" mapping="/assets/js/**"
		cache-period="0" />&lt;!&ndash; 0 &ndash;&gt;
	<mvc:resources location="/assets/handlebars/" mapping="/assets/handlebars/**"
		cache-period="0" />&lt;!&ndash; 0 &ndash;&gt;
	<mvc:resources location="/assets/plugin/" mapping="/assets/plugin/**"
		cache-period="0" />&lt;!&ndash; 0 &ndash;&gt;-->

	<!-- velocityEngine -->
	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="resourceLoaderPath" value="/WEB-INF/views/" />
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">UTF-8</prop>
				<prop key="output.encoding">UTF-8</prop>
				<prop key="contentType">text/html;charset=UTF-8</prop>
			</props>
		</property>
	</bean>
	<!-- template view -->
	<bean id="velocityConfig"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/WEB-INF/views/" />
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">UTF-8</prop>
				<prop key="output.encoding">UTF-8</prop>
				<prop key="contentType">text/html;charset=UTF-8</prop>
			</props>
		</property>
	</bean>
	<bean id="velocityViewResolver"
		class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
		<property name="layoutUrl" value="layout.vm" />
		<property name="cache" value="false" />
		<property name="suffix" value=".vm" />
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="dateToolAttribute" value="date" />
		<property name="numberToolAttribute" value="number" />
		<property name="contentType" value="text/html;charset=UTF-8" />
	</bean>

<!-- 开发期间暂注 -->
<!-- 	<bean -->
<!-- 		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"> -->
<!-- 		定义默认的异常处理页面，当该异常类型的注册时使用 -->
<!-- 		<property name="defaultErrorView" value="error"></property> -->
<!-- 		定义异常处理页面用来获取异常信息的变量名，默认名为exception -->
<!-- 		<property name="exceptionAttribute" value="ex"></property> -->
<!-- 		定义需要特殊处理的异常，用类名或完全路径名作为key，异常也页名作为值 -->
<!-- 		<property name="exceptionMappings"> -->
<!-- 			<props> -->
<!-- 				<prop key="java.lang.Exception">error</prop> -->
<!-- 				这里还可以继续扩展对不同异常类型的处理 -->
<!-- 			</props> -->
<!-- 		</property> -->
<!-- 	</bean> -->

	<mvc:view-controller path="/error" view-name="error" />
	<mvc:view-controller path="/404" view-name="404" />
	<mvc:view-controller path="/500" view-name="error" />
	<mvc:view-controller path="/reSubmit" view-name="re_submit"/>

	<!-- 添加cookie 的拦截器 -->
	
	<!-- 上传文件拦截，设置最大上传文件大小   10M=10*1024*1024(B)=10485760 bytes -->  
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="maxUploadSize" value="${web.maxUploadSize}" />  
    </bean>
	<bean id="ftpUtils" class="com.camelot.openplatform.common.FTPUtils">
		<constructor-arg index="0" value="192.168.1.100" />
		<constructor-arg index="1" value="camelot" />
		<constructor-arg index="2" value="camelot" />
	</bean>

</beans>
