<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>登录</title>
<link href="css/detail.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" src="css/detail.js" />
<script type="text/javascript" src="js/iscroll.js"></script>
<script type="text/javascript" src="js/zepto.js"></script>
<script type="text/javascript" src="js/style.js"></script>
<script src="js/jquery-v1.10.2.min.js" type="text/javascript"></script>
<script src="js/modernizr-custom-v2.7.1.min.js" type="text/javascript"></script>
<script src="js/jquery-finger-v0.1.0.min.js" type="text/javascript"></script>
</head>
<body class="bg_02">
<script>
$(document).ready(function(){ 
    $('.flicker-example').flicker();
});
</script>
<!-- 右侧 -->
<div class="right font_ff">
<header class="hei_50"></header>
<p class="hei_50 font_ff font_1_0 font_cen mar_t20">欢迎使用科印采购小管家</p>
<div class="pad_lr5 mar_t10">
    <p class="po_re"><i class="fa-user fa-user  po_ab"></i><input type="text" class="hei_34 wid_87  " placeholder="请输入小管家用户名"/></p>
    <p class="po_re"><i class="fa-unlock-alt  po_ab"></i><input type="password" class="hei_34 wid_87 " placeholder="请输入登录"/></p>
    <p class="hei_50">
        <span class="font_ff fl"><input type="checkbox" checked/>账户绑定</span><span><a href="#" class="font_ff fr">忘记密码</a></span>
    </p>
    <p class="font_cen"><button class="wid_87 hei_34 login">登录</button></p>
    <p class="font_cen mar_t15"><button class="wid_87 hei_34 enroll">自动注册</button></p>
</div>
</div><!-- 右侧 end-->
<div id="main" class="po_ab">
    <!-- 头部 -->
    <header class="po_re">
        <div class="top_l fl">
            <i class="fa fa-angle-left"></i>返回
        </div>
        <div class="top_c fl">
            协议录入
        </div>
         <div class="top_r fr">
            <img src="images/more.png" />
        </div>
        <div class="clear"></div>
    </header> <!-- 头部 end-->
    <!-- 中间内容 -->
    <div class="content" id="wrapper">
        <!-- 头部 -->
        <div class="purchase hei_50 bg_02">
            <p class="fl mar_lr4 font_cen"><i class="fa fa-camera font_1_5"></i></p>
            <p class="fl po_re mar_t10 wid_65"><input type="text" class="input_1 wid_87 hei_32" /><i class="fa-user font_1_2 fa-user2 po_ab"></i></p>
            <p class="fl pad_l5 font_cen"><i class="fa fa-comment-o font_1_5"></i></p>
        </div><!-- 头部 -->
        <!-- 轮播图 -->
        <div class="flicker-example po_re pad_t50" data-block-text="false">
          <ul>
            <li data-background="images/field.jpg"></li>
            <li data-background="images/forest.jpg"></li>
            <li data-background="images/frozen-water.jpg"></li>
          </ul>
        </div><!-- 轮播图 end-->
        <div class="pad_lr5 mar_t10">
            <!-- 列表 -->
            <ul class="li_fl list_top ">
                <li class="font_e5">耗材</li><p>|</p>
                <li>印刷包装设备</li><p>|</p>
                <li>印刷器材及配件</li>
            </ul>
            <div class="clear"></div>
            <ul class="li_fl hei_50 ">
                <li class="wid_40 font_1_0">数码印刷专区</li>
                <li class="wid_40 font_1_0">标签印刷专区</li>
            </ul>
            <p class=" lin_24"> 图书/期刊/软件/培训</p>
            <!-- banner图片 -->
            <div class="banner_img mar_lr5">
                <img src="">
                
            </div>
            <!-- banner图片 end-->
            <!-- 楼层1 -->
            <div class="mar_t10">
                <h3><span class="font_e5 mar_r2">1F</span>印前/其他器材</h3>
                <!-- 优惠 -->
                <div class="sale_shop">
                    <!-- 一条信息 -->
                    <dl>
                        <dt class="po_re"><img src="" width="90%" height="90%"><p class="omit po_ab">省300元</p></dt>
                        <dd>￥69.0</dd>
                    </dl><!-- 一条信息 -->
                    <!-- 一条信息 end-->
                    <dl>
                        <dt class="po_re"><img src="" width="90%" height="90%"><p class="omit po_ab">省300元</p></dt>
                        <dd>￥69.0</dd>
                    </dl><!-- 一条信息 -->
                    <!-- 一条信息 end-->
                    <dl>
                        <dt class="po_re"><img src="" width="90%" height="90%"><p class="omit po_ab">省300元</p></dt>
                        <dd>￥69.0</dd>
                    </dl><!-- 一条信息 end-->
                </div><!-- 优惠 end-->
                <div class="clear"></div>
                <!-- 推荐区 -->
                <div class="nomina mar_lr5">
                    <dl>
                        <dt>
                            <p><i class="fa-phone"></i><span class="font_1">手机专区</span></p>
                            <p>京东名表专区</p>
                        </dt>
                        <dd>
                            <img src="" width="100%" height="100%">
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><i class="fa-phone"></i><span class="font_1">手机专区</span></p>
                            <p>京东名表专区</p>
                        </dt>
                        <dd>
                            <img src="" width="100%" height="100%">
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><i class="fa-phone"></i><span class="font_1">手机专区</span></p>
                            <p>京东名表专区</p>
                        </dt>
                        <dd>
                            <img src="" width="100%" height="100%">
                        </dd>
                    </dl>
                </div>
            <!-- 推荐区 end-->
            </div><!-- 楼层1end -->
            <div class="clear"></div>
            <!-- 楼层2 -->
            <div class="mar_t10">
                <h3><span class="font_e5 mar_r2">2F</span>印前/其他器材</h3>
                <!-- 优惠 -->
                <div class="sale_shop">
                    <!-- 一条信息 -->
                    <dl>
                        <dt class="po_re"><img src="" width="90%" height="90%"><p class="omit po_ab">省300元</p></dt>
                        <dd>￥69.0</dd>
                    </dl><!-- 一条信息 -->
                    <!-- 一条信息 end-->
                    <dl>
                        <dt class="po_re"><img src="" width="90%" height="90%"><p class="omit po_ab">省300元</p></dt>
                        <dd>￥69.0</dd>
                    </dl><!-- 一条信息 -->
                    <!-- 一条信息 end-->
                    <dl>
                        <dt class="po_re"><img src="" width="90%" height="90%"><p class="omit po_ab">省300元</p></dt>
                        <dd>￥69.0</dd>
                    </dl><!-- 一条信息 end-->
                </div><!-- 优惠 end-->
                <div class="clear"></div>
                <!-- 推荐区 -->
                <div class="nomina mar_lr5">
                    <dl>
                        <dt>
                            <p><i class="fa-phone"></i><span class="font_1">手机专区</span></p>
                            <p>京东名表专区</p>
                        </dt>
                        <dd>
                            <img src="" width="100%" height="100%">
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><i class="fa-phone"></i><span class="font_1">手机专区</span></p>
                            <p>京东名表专区</p>
                        </dt>
                        <dd>
                            <img src="" width="100%" height="100%">
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><i class="fa-phone"></i><span class="font_1">手机专区</span></p>
                            <p>京东名表专区</p>
                        </dt>
                        <dd>
                            <img src="" width="100%" height="100%">
                        </dd>
                    </dl>
                </div>
            <!-- 推荐区 end-->
            </div><!-- 楼层2 end -->
            <div class="clear"></div>
            <!-- 楼层3 -->
            <div class="mar_t10">
                <h3><span class="font_e5 mar_r2">3F</span>印前/其他器材</h3>
                <!-- 优惠 -->
                <div class="sale_shop">
                    <!-- 一条信息 -->
                    <dl>
                        <dt class="po_re"><img src="" width="90%" height="90%"><p class="omit po_ab">省300元</p></dt>
                        <dd>￥69.0</dd>
                    </dl><!-- 一条信息 -->
                    <!-- 一条信息 end-->
                    <dl>
                        <dt class="po_re"><img src="" width="90%" height="90%"><p class="omit po_ab">省300元</p></dt>
                        <dd>￥69.0</dd>
                    </dl><!-- 一条信息 -->
                    <!-- 一条信息 end-->
                    <dl>
                        <dt class="po_re"><img src="" width="90%" height="90%"><p class="omit po_ab">省300元</p></dt>
                        <dd>￥69.0</dd>
                    </dl><!-- 一条信息 end-->
                </div><!-- 优惠 end-->
                <div class="clear"></div>
                <!-- 推荐区 -->
                <div class="nomina mar_lr5">
                    <dl>
                        <dt>
                            <p><i class="fa-phone"></i><span class="font_1">手机专区</span></p>
                            <p>京东名表专区</p>
                        </dt>
                        <dd>
                            <img src="" width="100%" height="100%">
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><i class="fa-phone"></i><span class="font_1">手机专区</span></p>
                            <p>京东名表专区</p>
                        </dt>
                        <dd>
                            <img src="" width="100%" height="100%">
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><i class="fa-phone"></i><span class="font_1">手机专区</span></p>
                            <p>京东名表专区</p>
                        </dt>
                        <dd>
                            <img src="" width="100%" height="100%">
                        </dd>
                    </dl>
                </div>
            <!-- 推荐区 end-->
            </div><!-- 楼层4 end -->
            <div class="clear"></div>
            <div class="mar_t10">
                <h3><span class="font_e5 mar_r2">4F</span>印前/其他器材</h3>
                <!-- 优惠 -->
                <div class="sale_shop">
                    <!-- 一条信息 -->
                    <dl>
                        <dt class="po_re"><img src="" width="90%" height="90%"><p class="omit po_ab">省300元</p></dt>
                        <dd>￥69.0</dd>
                    </dl><!-- 一条信息 -->
                    <!-- 一条信息 end-->
                    <dl>
                        <dt class="po_re"><img src="" width="90%" height="90%"><p class="omit po_ab">省300元</p></dt>
                        <dd>￥69.0</dd>
                    </dl><!-- 一条信息 -->
                    <!-- 一条信息 end-->
                    <dl>
                        <dt class="po_re"><img src="" width="90%" height="90%"><p class="omit po_ab">省300元</p></dt>
                        <dd>￥69.0</dd>
                    </dl><!-- 一条信息 end-->
                </div><!-- 优惠 end-->
                <div class="clear"></div>
                <!-- 推荐区 -->
                <div class="nomina mar_lr5">
                    <dl>
                        <dt>
                            <p><i class="fa-phone"></i><span class="font_1">手机专区</span></p>
                            <p>京东名表专区</p>
                        </dt>
                        <dd>
                            <img src="" width="100%" height="100%">
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><i class="fa-phone"></i><span class="font_1">手机专区</span></p>
                            <p>京东名表专区</p>
                        </dt>
                        <dd>
                            <img src="" width="100%" height="100%">
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><i class="fa-phone"></i><span class="font_1">手机专区</span></p>
                            <p>京东名表专区</p>
                        </dt>
                        <dd>
                            <img src="" width="100%" height="100%">
                        </dd>
                    </dl>
                </div>
            <!-- 推荐区 end-->
            </div><!-- 楼层4 end -->
            <div class="clear"></div>
        </div>
        <!-- 头部 end-->
    </div><!-- 中间内容 end-->
    <!-- 底部 -->
    <div class="foot bg_02">
        <footer>
            <dl class="fl">
                <dt><i class="fa-search"></i></dt>
                <dd>搜索</dd>
            </dl>
            <dl class="fl">
                <dt><i class="fa-cart-arrow-down"></i></dt>
                <dd>购物车</dd>
            </dl>
            <dl class="fl">
                <dt><i class="fa-user-md"></i></dt>
                <dd>买家中心</dd>
            </dl>
            <dl class="fl">
                <dt><i class="fa-heart-o"></i></dt>
                <dd>买家中心</dd>
            </dl>
        </footer>
     </div> <!-- 底部 -->
</div>
</body>
</html>
