{{#each records}}
<div class="border_bt">
    <!-- 昵称 -->
    <p class="hei_32 font_8_5 pad_l5">{{userName}}</p><!-- 昵称 end-->
    <!-- 评价 -->
    <p class="lin_24">{{content}} </p><!-- 评价 end-->
    <!-- 物品信息 -->
    <p class="lin_24">
        <span class="font_6">{{stamp2Date createTime}}</span>
    </p><!-- 物品信息 -->
</div>
{{/each}}