#set($layout = "common/blanklayout.vm")
<!DOCTYPE html>
<html >
<head>
	<base href="${request.getContextPath()}/"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>商品详情</title>
<link href="assets/css/detail.css" rel="stylesheet" type="text/css"/>
<script src="assets/js/jquery-2.1.4.min.js" type="text/javascript"></script>
##引入jquerymobile需要的文件
<script src="assets/js/handlebars-v3.0.3.js" type="text/javascript"></script>
<link href="assets/css/swiper.min.css" rel="stylesheet" type="text/css"/>
##<script type="text/javascript" src="assets/js/zepto.js"></script>
<script type="text/javascript" src="assets/js/tab.js"></script>
    <script type="text/javascript" src="assets/js/swiper-jquery-min.js"></script>
<script type="text/javascript" src="assets/js/cygz.js"></script>
<script type="text/javascript" src="assets/handlebars/hbs_helpers.js"></script>
<script type="text/javascript" src="assets/js/product/product.js"></script>
##<script type="text/javascript" src="assets/handlebars/templates.js"></script>
<script>
	var _itemId="${id}";
	var _skuId="${skuId}";
	jQuery(function($) {     
		// 加载购物车信息
		$.ajax({
			url : 'user/shocar',
			type : 'post',
			dataType:"json",
			success : function(res) {
				if(res.quantity>0){
					$("#cart_tjdd").html(res.quantity);	
					$("#cart_tjdd").show();
				}else{
					$("#cart_tjdd").hide();
				} 
			},
			error : function() {
				console.log("网络错误");
			}
		});	
}); 
</script>
<script type="text/x-handlebars-template" id="product_attr">
	#include("product/productAttr.hbs")
</script>

<script type="text/x-handlebars-template" id="product_attrcity">
	#include("product/productAttrcity.hbs")
</script>


<script type="text/x-handlebars-template" id="product_content">
	#include("product/detailContent.hbs")
</script>
<script type="text/x-handlebars-template" id="detail_eval">
	#include("product/detailEvalOnlyOne.hbs")
</script>
<script type="text/x-handlebars-template" id="detail_proFR">
	#include("product/detailPromotionFR.hbs")
</script>
</head>
<body class="bg_02">
    <!--包住整个页面的DIV id="content" start -->
    <div id="main" class="po_re" style="font-size: 1.25em;">
        <div id="wrapper" class="content" style="bottom:48px;" >
		</div>
		<div id="attrWindow" class="shopp_app po_ab outdown"  style="bottom:45px;display: block;" >
		</div>
		<div id="attrWindowcity" class="shopp_app po_ab outdown1"  style="bottom:45px;display: block;" >
		</div>
		
    </div>
	##<div class="font_right btn_two">
    ##<div class="fl home" onclick="gotoShop(_shopId);">
    ##    <i class="fa-home mar_t"></i><p>店铺</p>
    ##</div>
    ##<div class="fl home" onclick="gotoCart();">
    ##    <i class="fa-cart-arrow-down mar_t"></i><p>购物车</p>
    ##</div>
    ##<div class="fl shop_car2" onclick="addToCart();return false;">
    ##           加入购物车
    ##</div>
</div>
<div id="_btns_" style="display:none;" class="font_right  btn_two" >
    <div class="fl home_btn" onclick="gotoShop(_shopId);">
        <p><img src="assets/images/home.png"></p>
        <p>店铺</p>
    </div>
    <div class="fl shop_btn"  onclick="gotoCart();" >
        <p><img src="assets/images/shopp.png"></p>
        <p class="po_re">购物车
         <span id="cart_tjdd" style="display:none;font-size:14px">$!{quantity}</span>
        </p>
    </div>
    <div class="fr shop_car2" onclick="addToCart();return false;">
        加入购物车
    </div>
</div>
        #parse("common/common.vm")
</body>
</html>
