<dl class="shop_name mar_t10">
    <dt class="fl"><img src="{{shopInfo.disclaimer}}"></dt>
    <dd class="fl">
        <p class="hei_32">{{shopInfo.shopName}}</p>
        <p class="hei_32">印刷家</p>
    </dd>
    </dt>
    <div class="clear"></div>
    <ul class="attestation mar_t10">
        <li>
            <p>发货速度<span class="font_e3">4.7</span></p>

            </li>
        <li>
            <p>服务态度<span class="font_e3">4.7</span></p>
            </li>
        <li>
            <p>描述相符<span class="font_e3">4.8</span></p>
            </li>
    </ul>
    <div class="clear"></div>
</dl>