<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>商品详情页</title>
<link href="css/detail.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/tab.js"></script>

</head>
<body>
    <!--包住整个页面的DIV id="content" start -->
    <div id="main" class="po_re">
        <!--中间内容开始 -->
        <div class="content" id="wrapper">
            <!-- 评论-->
            <div class="pad_lr5 bg_01">
                
                 <div class="nTab">
                    <!-- 标题开始 -->
                    <div class="TabTitle bg_01">
                      <ul id="myTab0" class="myTab2">
                        <li class="active" onclick="nTabs(this,0);">全部</li>
                        <li class="normal" onclick="nTabs(this,1);">差评</li>
                        <li class="normal" onclick="nTabs(this,2);">有图</li>
                      </ul>
                    </div><!-- 标题开始 end-->
                    <!-- 内容开始 -->
                    <div class="TabContent mar_t10">
                        <!-- 切换内容    1   -->     
                        <div id="myTab0_Content0">
                            <div class="border_bt">
                                <!-- 昵称 -->
                                <p class="hei_32 font_8_5 pad_l5">任性不认命</p><!-- 昵称 end-->
                                <!-- 评价 -->
                                <p class="lin_24">2014款新百伦火爆上市 夏季新品 专柜独家享受2014款新百伦火爆上市 夏季新品 </p><!-- 评价 end-->
                                <!-- 物品信息 -->
                                <p class="lin_24">
                                    <span class="font_6">2015-6-7</span>
                                    <span class="font_6">颜色分类：<i class="font_6">黑色</i></span>
                                </p><!-- 物品信息 -->
                                <p class="pad_3"><img src=""><img src=""><img src=""><img src=""><img src=""></p>
                            </div>
                            <div class="border_bt mar_t10">
                                <!-- 昵称 -->
                                <p class="hei_32 font_8_5 pad_l5">任性不认命</p><!-- 昵称 end-->
                                <!-- 评价 -->
                                <p class="lin_24">2014款新百伦火爆上市 夏季新品 专柜独家享受2014款新百伦火爆上市 夏季新品 </p><!-- 评价 end-->
                                <!-- 物品信息 -->
                                <p class="lin_24">
                                    <span class="font_6">2015-6-7</span>
                                    <span class="font_6">颜色分类：<i class="font_6">黑色</i></span>
                                </p><!-- 物品信息 -->
                            </div>
                        </div><!-- 切换内容    1   -->  
                        <!-- 切换内容    2   -->  
                        <div id="myTab0_Content1" class="none">
                             222
                        </div>
                        <!-- 切换内容    2   -->
                        <!-- 切换内容    3   -->    
                        <div id="myTab0_Content2" class="none">
                            333
                        </div><!-- 切换内容    3   -->  
                         
                    </div>
            </div>
            </div><!-- 评论 end-->
        </div> <!--中间内容 end -->
   
    </div>

</body>
</html>
