#set($layout="common/order.vm")
<!DOCTYPE html>
<html>
<head>
#parse("common/scriptAndCss.vm")
#parse("common/common.vm")
<title>查看投诉</title>
<script type="text/javascript">
$(document).ready(function(){
// 	var param = {};
//     param.callback = function () {
//     	console.debug("--------");
//     	window.location.href="$request.getContextPath()/orderWx/refundOrcservice?back=2";
//     };
//     registerGoBack(param);
});
</script>
</head>
<body class="bg_03">
<div id="main" class="po_re">
	<div class="content" id="wrapper">
		<div class="arbitration mar_lr5">
            <p class="hei_32">涉及订单:$!{orderId}</p>
            <p class="hei_32">类型:$!typeName</p>
            <p class="hei_32">状态:$!zcstace</p>
            <p class="hei_32">投诉方:$!tusufang</p>
        </div>
        <div class="bg_01">
            <ul class="arbitration mar_lr5">
                <li class="border_2"><div class="arbitration_left">投诉原因：</div><div class="arbitration_right">$!complainresion</div></li>
                <li class="border_2"><div class="arbitration_left">投诉内容：</div><div class="arbitration_right">$!remark</div></li>
                <li class="border_2"><div class="arbitration_left">处理结果：</div><div class="arbitration_right">$!stacetext</div></li>
                <li class="border_2"><div class="arbitration_left">处理意见：</div><div class="arbitration_right">$!comment</div></li>
                <li class="border_2"><div class="arbitration_left">提交时间：</div><div class="arbitration_right">$!createdate</div></li>
            </ul>
        </div>
	</div>
</div>
#parse("common/footer.vm")
</body>
</html>