#set($layout = "common/blanklayout.vm")
#set($ctx="$request.contextPath")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<base href="${request.getContextPath()}/"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>$shopInfo.shopName</title>
<link href="assets/css/detail.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" src="css/detail.js" />
<script type="text/javascript" src="assets/js/iscroll.js"></script>
<script src="assets/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/js/shop/tab.js"></script>
<script type="text/javascript" src="assets/js/handlebars-v3.0.3.js"></script>
<script type="text/javascript" src="assets/handlebars/hbs_helpers.js"></script>
<script type="text/javascript" src="assets/js/shop/shopHome.js"></script>
<script type="text/javascript">
	var _shopId='$!shopInfo.shopId';
</script>
<script type="text/x-handlebars-template" id="proInfoHbs">
	#include("shop/prodInfos.hbs")
</script>
<script type="text/x-handlebars-template" id="favProdHbs">
	#include("shop/favProd.hbs")
</script>
<script type="text/x-handlebars-template" id="saleProdHbs">
	#include("shop/saleProd.hbs")
</script>
<style>
#wrapper {
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 35px;
	left: 0;
	width: 100%;
	background: #ccc;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
</style>
</head>
<body>
<input type="hidden" id="contextPath" value="$request.getContextPath()" />
<div id="navigation" class="" style="z-index:9999;position:absolute;top:50px; display:none;">
    	<ul id="list">
			#foreach($entity in $categorylist)
    			<li><a href="#" onclick="showItem(this,2);return false;"  categoryCid="$entity.cid"><span class="font_e5 mar_r2">|</span>$entity.cname</a>
                <ul class="myHide" isItem2 parentId="$entity.cid">
        			#if($!entity.childShopCategory.size()>0)
        				<ul>
							<a>
            					#foreach($entityChild in $!entity.childShopCategory)
            					<span style="" onclick="loadProducts('$entityChild.cid')">$entityChild.cname</span>
    							#end
							</a>
        				</ul>
    				#end
				</ul>
    		#end
        </ul>
     </div>
<div id="main" class="">
   
    #*<!-- 中间内容 -->
	<div class="purchase hei_50 bg_02" style="position:fixed;">
		<p class="fl mar_lr4 font_cen"><i class="fa fa-list-ul font_1_5" onclick="toggleItem();"></i></p>
		<p class="fl po_re mar_t10 wid_67">
			<input type="text" id="searchInput" onchange="changeKeyword();" class="form-contro2 wid_95"/>
			<i class="fa-search font_1_2 fa-user2 po_ab"></i>
		</p>
	</div><!-- 头部 -->*#



    <div class="purchase">
        <p class="fl mar_lr4 font_cen" style="line-height: 14px;  padding-top: 12px;" onclick="toggleItem();">
            <i class="fa fa-list-ul font_1_5" ></i>
            <br/>
            <i class="font_7_5" style="margin-left: -4px;">频道</i>
        </p>
        <div class="fl po_ab " style="left: 46px;right:35px;top:0;bottom: 0;">
            <div class="po_ab form-contro3" style="">
                <input type="text" id="searchInput" onchange="changeKeyword();" value="$!content" class="form-contro2 po_ab" style="left:20px;top:5px;width:75%;"/>
            </div>
            <i onclick="" class="fa-search font_1_2 fa-user2 po_ab" style="top:0px;"></i>
            <i onclick="changeKeyword()" class="font_1_2 po_ab" style="right: 12px;">搜索</i>
        </div>
    </div><!-- 头部 -->

			
    <div class="content pad_b20" id="wrapper" >
		<div id="scroller" style="background-color:#fff">
        <!-- 搜索 -->
			#*<div class="mar_t10 top_list">
                <p class="fl mar_l5 po_re wid_80">
					<input value="aa" onchange="changeKeyword();" id="searchInput" class="hei_32 pad_l5 wid_95" ></input>
					<i class="fa fa-search po_ab ss"></i>
				</p>
                <p class="fr wid_11 font_cen mar_t10" onclick="toggleItem();return false;"><i class="fa fa-list-ul font_1_5" ></i></p>
            </div> <!-- 搜索 end-->
			*#
		
			
			
            <div class="clear"></div>
            <div class="pad_lr5 " style="margin-top:60px;">
                <!-- 店铺信息 -->
                <div class="mar_t10">
                    <dl class="fl shop_img">
                        <dt class="fl"><img width="100%" height="100%" src="$gix$!shopInfo.logoUrl"></dt>
                        <dd class="fl">$shopInfo.shopName</dd>
                    </dl>
                    <div class="fr shop_right_font">
    					
    					#if($!favouriteShop == "true")
    						<button class="button_1 pad_tb3 hei_34" disabled="disabled" style="margin:3px 3%;">已收藏</button>
            			#else
    						<button class="button_1 pad_tb3 hei_34" id="favourBtn"  style="margin:3px 3%;" onclick="addShopFavourite('$!shopInfo.sellerId', '$!shopInfo.shopId');return false;"
								
								>收藏店铺<i class="fa fa-star"></i></button>
            			#end
    						<button class="button_1 pad_tb3 hei_34" style="margin:3px 3%;" onclick="toCoupons('$!shopInfo.shopId')">优惠券</button>
                    </div>
    				<div class="clear"></div>
                </div> <!-- 店铺信息 end-->
                
                <!-- 张庆楠end-->
                <!-- 小广告条、导航、轮播start -->
				#parse("/shop/shopTop.vm")
			    <!-- 小广告条、导航、轮播end -->
                <!-- 张庆楠 end-->
                
                <ul class="attestation mar_t10">
                    <li>
                        <p>所在地区</p>
                        <p>$shopInfo.provinceName$shopInfo.cityName$shopInfo.districtName</p>
                    </li>
                    <li>
                        <p>服务评价</p>
                        <p>$!{shopInfo.scope}分#*<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>*#</p>
                    </li>
                    <li>
                        <p>营业执照</p>
                        <p><a href="$gix$!busLicenImgSrc"><img style="width:20px;height:20px;" src="assets/images/national_emblem_light.png"/></a></p>
                    </li>
                </ul>
                <div class="clear"></div>
                <!-- 默认排序 -->
                <div class="nTab">
                    <!-- 标题开始 -->
                    <div class="TabTitle bg_01">
                      <ul id="myTab0" class="myTab3">
                        <li class="active" onclick="nTabs(this,0);">店铺产品</li>
                        <li class="normal" onclick="nTabs(this,1);">销量排行</li>
                        <li class="normal" onclick="nTabs(this,2);">收藏排行</li>
                      </ul>
                    </div><!-- 标题开始 end-->
                    <div class="clear"></div>
                    <!-- 内容开始 -->
                    <div class="TabContent mar_t10" style="position:relative;bottom:0px;top:0px;width:100%;height:100%;">
                        <!-- 切换内容    1   -->     
                        <div id="myTab0_Content0">
                            <div id="scroll0" class="_scroller" style="background-color:#fff;">
    							<div id="prods0" class="sale_shop"></div>
    							<div class="clear"></div>
    							<br>
    							<br>
    							<p onclick="nextPage(0);" class="font_cen" id="loadmore0">点击加载更多</p>
    						</div>
                        </div><!-- 切换内容    1   -->  
                        <!-- 切换内容    2   -->  
                        <div id="myTab0_Content1" class="none">
                            <div id="scroll1">
    							<div id="prods1"></div>
    							<div class="clear"></div>
    							<br>
    							<br>
    							<p  onclick="nextPage(1);" class="font_cen" id="loadmore1">点击加载更多</p>
    						</div>
                        </div>
                        <!-- 切换内容    2   -->
                        <!-- 切换内容    3   -->    
                        <div id="myTab0_Content2" class="none">
    						<div id="scroll2">
    							<div id="prods2"></div>
    							<div class="clear"></div>
    							<br>
    							<br>
    						</div>
                        </div><!-- 切换内容    3   -->  
                    </div>
    				<div class="fl"></div>
    				<div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
		</div>
    </div><!-- 中间内容 end-->
    <!-- 底部 -->
  #parse("common/footer.vm")
</div>
</body>
</html>
