#set($staticPath="$request.contextPath/assets")
#set($layout = "/seller_layout.vm")
<script type="text/javascript" src="$request.contextPath/assets/js/common.js"></script>
<script language="javascript" type="text/javascript" src="$request.contextPath/assets/js/tab.js"></script>
<script type="text/javascript" src="$request.contextPath/assets/js/askItemInfo/askItemInfo.js"></script>
<input type="hidden" id="contextPath" value="$request.getContextPath()"/>
 <script type="text/javascript">
      $(function(){
	//加载左侧菜单
	$("#leftSeller").load("$request.contextPath/leftSeller");
});
</script>
<div id="main">
<!--中间部分开始-->
<div id="leftSeller" class="border-4"></div>
<!--left end -->

<!--右边部分开始-->
<div id="right">
    <div id="right_top" class="right_top border-4 bg_06">
		<div class="right_top_l">
			<form id="queryForm" method="post">
			<ul class="list">
				<li class="wid_270">
					<span class="font_wid">供应商：</span>
					<input type="hidden" id="supplierId" value="$!shopId"/>
					<input class="input_Style2 wid_150 hei_30" type="text" id="supplierName" value="$!shopName" readOnly/>				
				</li>
				<li class="wid_270">
					<span class="font_wid">求购编号：</span><input class="input_Style2 wid_150 hei_30" type="text" id="translationNo"/>
				</li>
				<li class="wid_270">
					<span class="font_wid">物品：</span>
					<input class="input_Style2 wid_150 hei_30" type="text" id="matCd"  name = "matCd"/>				
				</li>
			<!--	<li class="wid_350"><span class="font_wid mar_l">求购状态：</span>
					<select class="input_Style2 wid_160 mar_r10 hei_35 "><option ></option><option>未发布</option>
						<option >待审核</option><option >审核驳回</option><option >待上架</option><option>在售</option>
						<option>已下架</option><option>锁定</option><option>申请解锁</option></select></li>		-->
			</ul>
            </form>
		</div>
		
		<div class="right_top_r ">
			<button type="button" class="button_4 but_cx3" id = "query_info" onclick="toRepTranslationPage()">
				查 询
			</button>
		</div>
	</div>
	<!-- 查询 结束 -->

	<div class="right_bot border-4 mar_t10 bg_06">
    <!-- 商品列表开头 -->
		<div class="right_xinxi mar_l14" id="inquiryModel">
			<ul class="list_top bg_08 font_cen font_14b">
				<li class="wid_50">全选</li>
				<li class="wid_150">求购编号</li>
				<li class="wid_90">状态</li>
                <li class="wid_110">录入方</li>
				<li class="wid_110">创建日期</li>
				<li class="wid_110">截至报价日期</li>
				<li class="wid_130">备注</li>
            </ul>
      <!-- 类型选择 -->
      <!-- 类型选择 -->
      <ul class="right_select">
        <li class="wid_50 font_cen"><input type="checkbox" class="mar_l10 hei_22" id="all_select" onclick="select_all(this);"/></li>
        <li><button type="button" class="button_4 mar_l10 hei_24" id="button_update_response">报价</button></li>
        <li><button type="button" class="button_4 mar_l10 hei_24" onclick="lookAskItemInfo('response','seller');">查看</button></li>
      <!--  <li><button type="button" class="button_4 mar_l10 hei_24" id="button_commit_response">确认价格</button></li> -->
     <!--   <li><button type="button" class="button_4 mar_l10 hei_24">下单</button></li>-->
      </ul>
      <!-- 内容开始 -->
		 #foreach($page in $pager.records)
            <ul class="list_top hei_40 list_li" onclick="translationInfoShow(this,'response','$page.translationNo');">
              <li class="wid_50 font_cen">
				<input type="hidden" name = "status" value="$page.status"/>
                  <input type="hidden"  name = "endDate" value="$!date.format('yyyy-MM-dd HH:mm:ss', $page.endDate)"/>
                <input type="checkbox" class="mar_l10 hei_22" name = "translationNo" value="$page.translationNo"/>
              </li>
              <li class="wid_150" title="$!page.translationNo">$!page.translationNo</li>
              #if($!page.status == "0")
					<li class="wid_90 font_cen">待提交</li>
			  #elseif($!page.status == "1")
					<li class="wid_90 font_cen">待审核</li>
			  #elseif($!page.status == "2")
					<li class="wid_90 font_cen">待报价</li>
			  #elseif($!page.status == "3")
					<li class="wid_90 font_cen">已确认</li>
			  #elseif($!page.status == "4")
                  <li class="wid_90 font_cen">已驳回</li>
			  #else
					<li class="wid_90 font_cen"></li>
			  #end
              <li class="wid_110 font_cen" style="white-space: nowrap;text-overflow:ellipsis; overflow:hidden;" title="$!page.alternate1">$!page.alternate1</li>
              <li class="wid_110 font_cen">$!date.format('yyyy-MM-dd',$!page.createDate)</li>
              <li class="wid_110 font_cen">
                 $!date.format('yyyy-MM-dd',$!page.endDate)
              </li>
			  <li class="wid_130 font_cen" style="white-space: nowrap;text-overflow:ellipsis; overflow:hidden;" title="$!page.remarks">$!page.remarks</li>
         </ul>  
		 #end
      <!-- 内容结束 -->
	        <form id="categoryItemsForm"  method="post">
				<input name="page" type="hidden">
			</form>
		    	<!-- 分页 -->
            #pageVelocity($pager)
		</div>
        
        <div class="att1" style="width:950px;margin:auto;">
            <div class="att_top">
                <ul>
                <li class="hover" id="opt_1" onClick="Set_Tab('opt',1,3,'hover','');">求购明细</li>
               #* <li id="opt_2" class="" onClick="Set_Tab('opt',2,3,'hover','');">求购订单</li>*#
                </ul>
            </div><!--标题att_top end -->
            
           <!--合同明细 内容开始 -->
            <div class="att_con1 att_webwrap border-1" id="opt_1_content" style="width:950px;margin:auto;">
                <table width="98%" class="add_inf mar" id="information1" style="table-layout:fixed">
					<tbody >
                        <!--表头 开始 -->
                          <tr class="font_cen bg_05">
                              <td class="border-1 wid_50"><input type='checkbox' onclick="checkAllDetail(this);"/></td>
                            <td class="border-1 wid_120">供应商</td>
                            <td class="border-1 wid_120">类目名称</td>
                            <td class="border-1 wid_120">物品名称</td>
							<td class="border-1 wid_120">商品属性</td>
                            <td class="border-1 wid_80">状态</td>
                            <td class="border-1 wid_80">数量</td>
                            <td class="border-1 wid_80">单价</td>
                          </tr>
                        <!--表头 结束 -->
                    </tbody>
                </table>
            </div><!--att_con1 end -->
            <!--合同订单 内容开始 -->
           #* <div class="att_con1 att_webwrap border-1" id="opt_2_content" style="width:950px;margin:auto; display:none">
                <table width="98%" class="add_inf mar" id="information2">
					<tbody >
                        <!--表头 开始 -->
                          <tr class="font_cen bg_05">
                            <td class="border-1 wid_50">询价编号</td>
                            <td class="border-1 wid_180">订单编号</td>
                          </tr>
                        <!--表头 结束 -->
                    </tbody>
                
                </table>
            </div>*#<!--att_con1 end -->
            
         </div><!--att1 end -->
	</div><!--下面列表结束 -->
</div> <!--id="right" end--> 
<!--右边部分结束-->
</div><!--#main end -->
</body>
<script type="text/javascript">

function toRepTranslationPage(){
var translationNo = $("#translationNo").val();
var supplierId = $("#supplierId").val();

var temp = "<tr class='font_cen bg_05'> <td class='border-1 wid_50'><input type='checkbox' onclick='checkAllDetail(this);'/></td>"+
			" <td class='border-1 wid_120'>供应商</td> <td class='border-1 wid_120'>类目名称</td>"+
			"<td class='border-1 wid_120'>物品名称</td>  <td class='border-1 wid_120'>商品属性</td>"+
			" <td class='border-1 wid_80'>状态</td>  <td class='border-1 wid_80'>数量</td>"+
			"<td class='border-1 wid_80'>单价</td> </tr>";
var temp2 = "<tr class='font_cen bg_05'> <td class='border-1 wid_180'>询价编号</td>"+
                            "<td class='border-1 wid_200'>订单编号</td></tr>";
$("#information1  tbody").html(temp);
//$("#information2   tbody").html(temp2);
var matCd = $("#matCd").val();
	$.ajax({
			type: "post",
			dataType: "html",
			url: $("#contextPath").val()+"/askItemInfoController/queryTranslation"+"?translationNo="+translationNo+"&supplierId="+supplierId+"&matCd="+matCd+"&sellerFlag=1",
			data:$("#queryForm").serializeArray(),
			success: function(data){
				$("#inquiryModel").html(data);
			},
		});
}
function topage(page){
		var form = document.getElementById("categoryItemsForm");
		form.page.value=page;
		form.submit();
	}
</script>
</html>        
    


