<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.usercenter.dao.UserAuditMybatisDAO">
	
	<!-- =========================================================== -->
    <!-- 定义resultMap                                                                                                                                                                             -->
    <!-- =========================================================== -->
	<resultMap id="userAuditMap" type="userAuditDTO">
			<result property="id" column="id"/>
			<result property="auditorId" column="auditor_id"/>
			<result property="time" column="time"/>
			<result property="remarks" column="remarks"/>
			<result property="contextId" column="context_id"/>
			<result property="result" column="result"/>
	</resultMap>
	
	<!-- 插入记录 -->
	<insert id="insert" parameterType="userAuditDTO" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
		insert into user_audit (
		    	 context_id
		    	 ,result
		   )values(
		    	#{contextId}
		    	,#{result}
		   )
	    ]]>	
	</insert>
	
	<update id="update" parameterType="userAuditDTO">
		<![CDATA[
		update user_audit set
   			auditor_id = #{auditorId}
   			,time = now()
   			,remarks = #{remarks}
   			,result = #{result}
		 where context_id = #{contextId}
		]]>
	</update>
	
	<select id="getUserAuditByUserId" resultMap="userAuditMap" parameterType="Object">
		select 
			id,auditor_id,time,remarks,result,context_id 
		from user_audit  where context_id = #{uid}
		
	</select>
</mapper>