<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
	<!-- dubbo服务取调用用户扩展信息模块的dubbo服务 -->
    <dubbo:reference id="mallBannerExportService" registry="qingdaoRegistry"
                     owner="camelot" interface="com.camelot.sellercenter.mallBanner.service.MallBannerExportService"
                     version="1.0" protocol="dubbo" timeout="100000" init="true" />
    <dubbo:reference id="mallRecAttrExportService" registry="qingdaoRegistry"
                     owner="camelot" interface="com.camelot.sellercenter.mallrecattr.service.MallRecAttrExportService"
                     version="1.0" protocol="dubbo" timeout="100000" init="true" />
    <dubbo:reference id="mallAdExportService" registry="qingdaoRegistry"
                     owner="camelot" interface="com.camelot.sellercenter.malladvertise.service.MallAdExportService"
                     version="1.0" protocol="dubbo" timeout="100000" init="true" />
</beans>